<section class="hero-section d-flex align-items-center"
    style="background-image: url('../../assets/images/mainoffering.jpg'); background-size: cover; height: 86vh; position: relative;">
    <div class="overlay"></div> <!-- Overlay div -->
    <div class="container-fluid text-center text-white section-padding" style="z-index: 1;">
        <h1 class="p1-header">
            Our Offering </h1>
        <p class="p2-header">
            Comprehensive Technology, Staffing and Consulting Solutions
        </p>
        <p class="s1-header">
            Unlocking the Potential of Your Workforce with Netsim Inc Consulting

        </p>
    </div>
    <div class="position-absolute bottom-0 start-50 translate-middle-x breadcrumb-bottom-cls ">

        <nav aria-label="breadcrumb" class="align-items-center text-center ">
            <ol class="breadcrumb align-items-center justify-content-center">
                <li class="breadcrumb-item" routerLink="/">
                    <a>Home</a>
                </li>
                <li class="breadcrumb-item active">
                    <a>Our Offering</a>
                </li>
            </ol>
        </nav>
        <svg class="w-full h-auto svg-curve" viewBox="0 0 2880 48" fill="#fff" xmlns="http://www.w3.org/2000/svg">
            <path d="M0 48H1437.5H2880V0H2160C1442.5 52 720 0 720 0H0V48Z" fill="#fff"></path>
        </svg>
    </div>
</section>
<section class="mt-5 section-padding">
    <p class="pg-subheading1" style="text-align: left;">
        Netsim Inc Consulting, we take pride in being your trusted partner for comprehensive staffing, technology, and
        consulting solutions. Our extensive range of specialized services is tailored to meet your unique business
        needs, providing the flexibility and customization required to propel your organization forward.
    </p>
    <p class="pg-subheading1" style="text-align: left;">
        Whether you're seeking top-tier talent, cutting-edge technology solutions, or strategic consulting expertise, we
        are committed to delivering exceptional results that drive success and foster growth for your business.
    </p>
</section>

<div class="container-fluid pb-5 mt-5 section-padding">
    <h3 class="p2-header">
        Netsim Inc: Empowering Your Transformation
    </h3>

    <div class=" mt-5">
        <div class="row row-cols-1 row-cols-md-3 g-4">
            <div class="col-md-4">
                <div class="card h-100 text-center shadow">
                    <div class="card-body">
                        <div class="hexagon-container text-center">
                            <div class="hexagon">
                                <i class="fa-solid fa-microchip"></i>
                            </div>
                        </div>

                        <h5 class="card-title s4-subheader">
                            Artificial Intelligence
                        </h5>
                        <p class="card-text s1-clr">
                            Unlock new revenue streams and enhance operational efficiency with Netsim Inc's AI-driven
                            solutions. We integrate advanced AI technologies to transform data into actionable insights,
                            enabling smarter decision-making and fostering innovation across your organization.

                        </p>
                        <a class="p1-clr" routerLink="/ai-home">Read More &rarr;</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card h-100 text-center shadow">

                    <div class="card-body mt-2">
                        <div class="hexagon-container text-center">
                            <div class="hexagon">
                                <i class="fa-solid fa-code"></i>
                            </div>
                        </div>

                        <h5 class="card-title s4-subheader">Cybersecurity
                        </h5>
                        <p class="card-text s1-clr">
                            Netsim Inc has crafted a robust cybersecurity framework, designed to proactively shield your
                            organization against cyber threats, while collaborating with you to tailor a comprehensive
                            security strategy, including Cybersecurity Assessment, Testing, and Solutions.

                        </p>
                        <a class="p1-clr" routerLink="/cybersecurity-home">Read More &rarr;</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card h-100 text-center shadow">
                    <div class="card-body">
                        <div class="hexagon-container text-center">
                            <div class="hexagon">
                                <i class="fas fa-location-crosshairs"></i>
                                <!-- Replace this with your desired Font Awesome icon -->
                            </div>
                        </div>

                        <h5 class="card-title s4-subheader">
                            Sourcing and Procurement
                        </h5>
                        <p class="card-text s1-clr">
                            Unlock efficiency, optimize costs, and transform your supply chain with Netsim Inc's expert
                            services. Explore cutting-edge sourcing and procurement solutions tailored to your business
                            needs!

                        </p>
                        <a class="p1-clr" routerLink="/source-procurement">Read More &rarr;</a>
                    </div>
                </div>
            </div>
            <!--  -->
            <div class="col-md-4">
                <div class="card h-100 text-center shadow">
                    <div class="card-body">
                        <div class="rectangle-container text-center">
                            <div class="rectangle">
                                <i class="fa-solid fa-chart-column"></i>
                                <!-- Replace this with your desired Font Awesome icon -->
                            </div>
                        </div>

                        <h5 class="card-title s4-subheader">
                            Projects & Business Agility
                        </h5>
                        <p class="card-text s1-clr">
                            Steer complex technology initiatives towards timely and budget-friendly success with our
                            commitment to optimizing delivery processes and reducing waste, enhancing overall business
                            agility.
                        </p>
                        <a class="p1-clr" routerLink="/project-business-agility">Read More &rarr;</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card h-100 text-center shadow">
                    <div class="card-body">
                        <div class="rectangle-container text-center">
                            <div class="rectangle">
                                <i class="fas fa-diagram-project"></i>
                                <!-- Replace this with your desired Font Awesome icon -->
                            </div>
                        </div>

                        <h5 class="card-title s4-subheader">
                            Data Intelligence
                        </h5>
                        <p class="card-text s1-clr">
                            Architect cutting-edge and reliable data platforms with Netsim Inc's intuitive approach to
                            artificial intelligence. Our focus on business intelligence, machine learning, and data
                            science ensures the delivery of actionable insights from robust and trustworthy data
                            platforms.

                        </p>
                        <a class="p1-clr" routerLink="/data-intelligence">Read More &rarr;</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card h-100 text-center shadow">
                    <div class="card-body">
                        <div class="rectangle-container text-center">
                            <div class="rectangle">
                                <i class="fa-solid fa-mobile-screen-button"></i>                                <!-- Replace this with your desired Font Awesome icon -->
                            </div>
                        </div>

                        <h5 class="card-title s4-subheader">
                            App Solutions
                        </h5>
                        <p class="card-text s1-clr">
                            Unlock the full potential of your applications with Netsim Inc's dynamic cloud-based
                            solutions. Our forward-thinking development methods offer unparalleled adaptability,
                            allowing clients to explore bespoke project solutions led by our seasoned experts.
                        </p>
                        <a class="p1-clr" routerLink="/app-solutions">Read More &rarr;</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Section 5 -->

<div class="container-fluid section-padding pb-5 mt-5">
    
  <div id="carouselExample" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item s8-citem active">
        <div class="row">
          <div class="col-md-3">
            <div class="card h-100 text-center shadow">
              <div class="card-body">
                <div class="circle-container text-center">
                  <div class="circle">
                    <i class="fa-solid fa-code"></i>
                  </div>
                </div>

                <h5 class="card-title s8-subheader" routerLink="/mobile-solutions">Digital &amp; Mobile Solutions</h5>
                <p class="card-text s1-clr">
                  Drive profound digital transformation with our innovative solutions. </p>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="card h-100 text-center shadow">
              <div class="card-body">

                <div class="circle-container text-center">
                  <div class="circle">
                    <i class="fa-solid fa-mobile-screen-button"></i>
                  </div>
                </div>

                <h5 class="card-title s8-subheader" routerLink="/app-solutions">App<br>Solutions</h5>
                <p class="card-text s1-clr">
                  Discover dynamic cloud-based solutions tailored to your needs.
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="card h-100 text-center shadow">
              <div class="card-body">

                <div class="circle-container text-center">
                  <div class="circle">
                    <i class="fa-regular fa-lightbulb"></i>
                  </div>
                </div>

                <h5 class="card-title s8-subheader" routerLink="/managed-solutions">Managed<br>Solutions</h5>
                <p class="card-text s1-clr">
                  Access top-notch consulting expertise and specialized project teams for seamless project management.
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="card h-100 text-center shadow">
              <div class="card-body">

                <div class="circle-container text-center">
                  <div class="circle">
                    <i class="fa-regular fa-paper-plane"></i>
                  </div>
                </div>

                <h5 class="card-title s8-subheader" routerLink="/offshore-talent">Offshore<br>Talent</h5>
                <p class="card-text s1-clr">
                  Expand your team with talented professionals from India or Jordan, enhancing your workforce.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item s8-citem">
        <div class="row">
          <div class="col-md-3">
            <div class="card h-100 text-center shadow">
              <div class="card-body">

                <div class="circle-container text-center">
                  <div class="circle">
                    <i class="fa-brands fa-sourcetree"></i>
                  </div>
                </div>

                <h5 class="card-title s8-subheader" routerLink="/source-procurement">Sourcing and Procurement</h5>
                <p class="card-text s1-clr">
                  Explore cutting-edge sourcing and procurement solutions tailored to your business needs!
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="card h-100 text-center shadow">
              <div class="card-body">

                <div class="circle-container text-center">
                  <div class="circle">
                    <i class="fa-solid fa-diagram-project"></i>
                  </div>
                </div>

                <h5 class="card-title s8-subheader" routerLink="/project-business-agility">Projects &amp; Business
                  Agility</h5>
                <p class="card-text s1-clr">
                  Steer complex technology initiatives with precision and agility.
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="card h-100 text-center shadow">
              <div class="card-body">

                <div class="circle-container text-center">
                  <div class="circle">
                    <i class="fa-solid fa-cloud-arrow-up"></i>
                  </div>
                </div>

                <h5 class="card-title s8-subheader" routerLink="/cloud-platform">Cloud<br>Platforms</h5>
                <p class="card-text s1-clr">
                  Achieve scalability, stability, and efficiency with our cloud solutions.
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="card h-100 text-center shadow">
              <div class="card-body">

                <div class="circle-container text-center">
                  <div class="circle">
                    <i class="fa-solid fa-chart-column"></i>
                  </div>
                </div>

                <h5 class="card-title s8-subheader" routerLink="/data-intelligence">Data<br>Intelligence</h5>
                <p class="card-text s1-clr">
                  Leverage cutting-edge and reliable data platforms for actionable insights.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="carousel-item s8-citem">
        <div class="row">
          <div class="col-md-3">
            <div class="card h-100 text-center shadow">
              <div class="card-body">

                <div class="circle-container text-center">
                  <div class="circle">
                    <i class="fa-solid fa-file-contract"></i>
                  </div>
                </div>

                <h5 class="card-title s8-subheader" routerLink="/contract-local-talent">Contract<br>Local Talent</h5>
                <p class="card-text s1-clr">
                  Access skilled professionals for short- or long-term assignments.
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="card h-100 text-center shadow">
              <div class="card-body">

                <div class="circle-container text-center">
                  <div class="circle">
                    <i class="fa-solid fa-rocket"></i>
                  </div>
                </div>

                <h5 class="card-title s8-subheader" routerLink="/permanent-placement">Permanent<br>Placement</h5>
                <p class="card-text s1-clr">
                  Find early to mid-career professionals or executive-level hires for your organization.
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="card h-100 text-center shadow">
              <div class="card-body">

                <div class="circle-container text-center">
                  <div class="circle">
                    <i class="fa-solid fa-handshake"></i>
                  </div>
                </div>

                <h5 class="card-title s8-subheader" routerLink="/veteran-talent">Veterans<br>Talent</h5>
                <p class="card-text s1-clr">
                  Support our nation's veterans by leveraging their unique skills and experience..
                </p>
              </div>
            </div>
          </div>

          <div class="col-md-3">
            <div class="card h-100 text-center shadow">
              <div class="card-body">

                <div class="circle-container text-center">
                  <div class="circle">
                    <i class="fa-solid fa-chart-column"></i>
                  </div>
                </div>

                <h5 class="card-title s8-subheader" routerLink="/data-intelligence">Data<br>Intelligence</h5>
                <p class="card-text s1-clr">
                  Leverage cutting-edge and reliable data platforms for actionable insights.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Add more slides as needed -->
    </div>
    <button mat-mini-fab class="carousel-control-prev position-absolute top-50 start-0 translate-middle s8-btns"
      type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
      <mat-icon style="font-size: 16px;margin-top: 6px;">keyboard_arrow_left</mat-icon>
    </button>

    <button mat-mini-fab class="carousel-control-next position-absolute top-50 start-100 translate-middle s8-btns"
      type="button" data-bs-target="#carouselExample" data-bs-slide="next">
      <mat-icon style="font-size: 16px;margin-top: 6px;">keyboard_arrow_right</mat-icon>
    </button>

  </div>
  </div>
<!-- Section 7 -->
<div class="position-relative section-padding s7-card mt-5">
    <div class="overlay" style="z-index: 0;"></div> <!-- Overlay div -->
    <div class="position-absolute top-50 start-50 translate-middle text-center" style="width: 76%;">
        <h3 class=" p1-header" style="color: #fff;z-index: 2;">
            We strive to connect you with exceptional <br>
            talent and provide staffing solutions that <br>
            drive your business forward.
        </h3>
    </div>
</div>

<!-- Section 6 -->
<div class="position-relative pb-5 section-padding s6-card">
    <div class="position-absolute top-50 start-50 translate-middle text-center" style="width: 76%;">
        <h3 class=" pg-heading1">
            Ready to embark on an extraordinary <br>
            consulting and recruiting journey?
        </h3>
        <p class="pg-subheading1">
            We're here to make amazing things happen together! <br>
            Reach out to us now and let's get started.
        </p>
        <div class="align-items-center" style="margin: auto 0;text-align: center;">
            <button type="button" routerLink="/contactus" class="btn s6-btn">Contact Us</button>
        </div>
    </div>
</div>