a{cursor: pointer;}
.navbar-brand{
    text-transform: uppercase;
    font-weight: 700;    
    font-size: 1.25rem;
    letter-spacing: 1px;
    background: linear-gradient(135deg, #FF1E57 50%,  #0A3348 50%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; /* For WebKit browsers */
    background-clip: text;
    color: transparent; /* For other browsers */
}
.nav-link{font-size: 13px;font-weight: 400;text-transform: uppercase;color: #0A3348;    letter-spacing: 1px;
}
.fa-caret-down{
    color: #637987;
}
.nav-link:hover,.fa-caret-down:hover,.dp-dn:hover{color: #FF1E57;}
.nav-link.active{
    color: #FF1E57;
    font-weight: 600;
}

  /* Style for main menu items */
.nav-item {
    position: relative;
  }
  
  .nav-item .submenu {
    display: none;
    position: absolute;
    left: 0;
    top: 100%;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 15px 8px;
    z-index: 1000;
    min-width: 240px;
    border-radius: 8px;
  }
  
  .nav-item .submenu li {
    margin-bottom: 10px;
    text-decoration: none;
    list-style: none;
    font-size: 11px;
    text-transform: uppercase;
  }
  
  .nav-item .submenu li a {
    display: block;
    padding: 10px;
    color: #333;
    text-decoration: none;
  }
  
  .nav-item .submenu li a:hover {
    background-color: #f8f9fa;
    border-radius: 5px;
  }
  
  /* Ensures the submenu appears on hover */
.nav-item:hover > .submenu {
  display: block;
}

/* Styles for the first-level submenu */
.submenu {
  display: none;
  position: absolute;
  left: 0;
  top: 100%;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  z-index: 1; /* Ensure it appears on top */
}

/* Styles for second-level submenu (nested submenu) */
.has-submenu .submenu {
  display: none;
  position: absolute;
  left: 100%; /* Places it to the right of the parent */
  top: 0;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  z-index: 1; /* Ensures it appears on top */
}

/* Shows the submenu on hover over the parent item */
.nav-item:hover > .submenu,
.has-submenu:hover > .submenu {
  display: block;
}

/* Make sure the submenu stays visible when hovered */
.submenu:hover {
  display: block;
}
