<footer class="footer-section section-padding">
    <div class="container-fluid">
        <div class="footer-content pt-5 pb-5">
            <div class="row">
                <div class="col-xl-4 col-lg-4 mb-50">
                    <div class="footer-widget">
                        <div class="footer-logo">
                            <a class="navbar-brand" routerLink="/">Netsim inc</a>
                        </div>
                        <div class="footer-text">
                            <p>We prioritize cost-effectiveness and transparency to ensure our clients' success. As a true partner, we are dedicated to fostering diversity, equality, and providing opportunities for veterans, while adhering to ADA guidelines.</p>
                        </div>
                        <div class="footer-social-icon">
                            <span>Follow us</span>
                            <a href="#"><i class="fab fa-facebook-f"></i></a>
                            <a href="#"><i class="fab fa-twitter"></i></a>
                            <a href="#"><i class="fab fa-instagram"></i></a>
                            <a href="#"><i class="fab fa-linkedin-in"></i></a>
                        </div>
                        
                        
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6 mb-30">
                    <div class="footer-widget">
                        <div class="footer-widget-heading">
                            <h3>Netsim Inc Consulting
                            </h3>
                        </div>
                        <ul>
                            <li><a routerLink="/">&#11166;&nbsp;Home</a></li>
                            <li><a routerLink="/aboutus">&#11166;&nbsp;About us</a></li>
                            <li><a routerLink="/clients">&#11166;&nbsp;Our Clients</a></li>
                            <li><a routerLink="/contactus">&#11166;&nbsp;Contact us</a></li>
                            <li><a routerLink="/">&#11166;&nbsp;Artificial Intelligence
                            </a></li>
                            <li><a routerLink="/">&#11166;&nbsp;Cybersecurity Solutions
                            </a></li>
                            <li><a routerLink="/source-procurement">&#11166;&nbsp;Sourcing & Procurement
                            </a></li>
                            <li><a routerLink="/project-business-agility">&#11166;&nbsp;Projects & Business Agility
                            </a></li>
                            <li><a routerLink="/cloud-platform">&#11166;&nbsp;Cloud Platforms
                            </a></li>
                            <li><a routerLink="/data-intelligence">&#11166;&nbsp;Data Intelligence
                            </a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6 mb-30">
                    <div class="footer-widget">
                        <div class="footer-widget-heading">
                            <h3>Staffing Solutions
                            </h3>
                        </div>
                        <ul>
                            <li><a routerLink="/contract-local-talent">&#11166;&nbsp;Contract Local Talent
                            </a></li>
                            <li><a routerLink="/offshore-talent">&#11166;&nbsp;Offshore Talent
                            </a></li>
                            <li><a routerLink="/permanent-placement">&#11166;&nbsp;Permanent Placement
                            </a></li>
                            <li><a routerLink="/veteran-talent">&#11166;&nbsp;Veterans Talent
                            </a></li>
                            <li><a routerLink="/mobile-solutions">&#11166;&nbsp;Digital & Mobile Solutions
                            </a></li>
                            <li><a routerLink="/app-solutions">&#11166;&nbsp;App Solutions
                            </a></li>
                            <li><a routerLink="/managed-solutions">&#11166;&nbsp;Managed Solutions
                            </a></li>
                            
                            
                        </ul>
                    </div>
                </div>
               
            </div>
        </div>
    </div>
    <div class="copyright-area">
        <div class="container">
            <div class="row">
                <div class="col-xl-6 col-lg-6 text-center text-lg-left">
                    <div class="copyright-text">
                        <p>Copyright &copy; {{dateVar}}, All Right Reserved </p>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 d-none d-lg-block text-right">
                    <div class="footer-menu">
                        <ul>
                            <li><a routerLink="/">Home</a></li>
                            <li><a routerLink="/">Terms</a></li>
                            <li><a routerLink="/">Privacy</a></li>
                            <li><a routerLink="/">Policy</a></li>
                            <li><a routerLink="/contactus">Contact</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>