<footer class="footer-section section-padding">
    <div class="container-fluid">
        <div class="footer-content pt-5 pb-5">
            <div class="row">
                <div class="col-xl-3 col-lg-3 mb-50">
                    <div class="footer-widget">
                        <div class="footer-logo">
                            <a class="navbar-brand" routerLink="/">NetSim</a>
                        </div>
                        <div class="footer-text">
                            <p>We prioritize cost-effectiveness and transparency to ensure our clients' success. As a true partner, we are dedicated to fostering diversity, equality, and providing opportunities for veterans, while adhering to ADA guidelines.</p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-6 mb-30">
                    <div class="footer-widget">
                        
                        <ul class="s2-subheader">
                            <li><a routerLink="/">Home</a></li>
                            <li><a routerLink="/aboutus">About us</a></li>
                            <li><a routerLink="/clients">Our Clients</a></li>
                            <li><a routerLink="/contactus">Contact us</a></li>
                            <li><a routerLink="/ai-home">Artificial Intelligence
                            </a></li>
                            <li><a routerLink="/ai-challenge">AI-Opportunity and challenges
                            </a></li>
                            <li><a routerLink="/ai-methodology">AI-Our Methodology
                            </a></li>
                            <li><a routerLink="/ai-home">AI-Services and Solutions
                            </a></li>
                           
                            
                        </ul>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-6 mb-30">
                    <div class="footer-widget">
                        
                        <ul class="s2-subheader">
                            <li><a routerLink="/source-procurement">Sourcing & Procurement
                            </a></li>
                            <li><a routerLink="/project-business-agility">Projects & Business Agility
                            </a></li>
                            <li><a routerLink="/cloud-platform">Cloud Platforms
                            </a></li>
                            <li><a routerLink="/data-intelligence">Data Intelligence
                            </a></li>
                            <li><a routerLink="/mobile-solutions">Digital & Mobile Solutions
                            </a></li>
                            <li><a routerLink="/app-solutions">App Solutions
                            </a></li>
                            <li><a routerLink="/managed-solutions">Managed Solutions
                            </a></li>
                        </ul>
                    </div>
                </div>
               
                <div class="col-xl-3 col-lg-3 col-md-6 mb-30">
                    <div class="footer-widget">
                       
                        <ul class="s2-subheader">
                            <li><a routerLink="/cybersecurity-home">Cybersecurity 
                            </a></li>
                            <li><a routerLink="/cybersecurity-home">Cybersecurity Assessment
                            </a></li>
                            <li><a routerLink="/cybersecurity-home">Cybersecurity Testing
                            </a></li>
                            <li><a routerLink="/cybersecurity-home">Cybersecurity Solutions
                            </a></li>
                            <li><a routerLink="/contract-local-talent">Contract Local Talent
                            </a></li>
                            <li><a routerLink="/offshore-talent">Offshore Talent
                            </a></li>
                            <li><a routerLink="/permanent-placement">Permanent Placement
                            </a></li>
                            <li><a routerLink="/veteran-talent">Veterans Talent
                            </a></li>
                            
                        </ul>
                    </div>
                </div>
               
            </div>
        </div>
    </div>
    <div class="copyright-area">
        <div class="container">
            <div class="row">
                <div class="col-xl-6 col-lg-6 text-center text-lg-left">
                    <div class="copyright-text">
                        <p>Copyright &copy; {{dateVar}}, All Right Reserved </p>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 d-none d-lg-block text-right">
                    <div class="footer-menu">
                        <ul>
                            <li><a routerLink="/terms-conditions">Terms & Conditions</a></li>
                            <li><a routerLink="/privacy-policy">Privacy & Policy</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>