<section class="hero-section d-flex align-items-center"
    style="background-image: url('../../assets/images/permenant.jpg'); background-size: cover; height: 86vh; position: relative;">
    <div class="overlay"></div> <!-- Overlay div -->
    <div class="container-fluid text-center text-white section-padding" style="z-index: 1;">
        <h1 class="p1-header">
            Permanent Placement
        </h1>

        <p class="s1-header">
            Whether you're looking for early to mid-career professionals or executive-level hires, we've got you
            covered.
        </p>
    </div>

    <div class="position-absolute bottom-0 start-50 translate-middle-x breadcrumb-bottom-cls ">

        <nav aria-label="breadcrumb" class="align-items-center text-center ">
            <ol class="breadcrumb align-items-center justify-content-center">
                <li class="breadcrumb-item" routerLink="/">
                    <a>Home</a>
                </li>
                <li class="breadcrumb-item" routerLink="/">
                    <a>Our offering</a>
                </li>
                <li class="breadcrumb-item active">
                    <a>Permanent Placement
                    </a>
                </li>
            </ol>
        </nav>
        <svg class="w-full h-auto svg-curve" viewBox="0 0 2880 48" fill="#fff" xmlns="http://www.w3.org/2000/svg">
            <path d="M0 48H1437.5H2880V0H2160C1442.5 52 720 0 720 0H0V48Z" fill="#fff"></path>
        </svg>
    </div>
</section>
<section class="mt-5 section-padding">
    <p class="pg-subheading1" style="text-align: left;">
        When it comes to executive-level hires, Netsim Inc Consulting recognizes the significance of finding exceptional
        leaders who can drive your business forward. We specialize in sourcing and vetting candidates with extensive
        experience, proven track records, and the ability to make strategic contributions. By understanding your
        organization's unique requirements and culture, we can identify executives who align with your vision and goals,
        ensuring a seamless fit within your leadership team.



    </p>
</section>

<!-- Section 3 -->
<div class="container-fluid pb-5 section-padding mt-5">
    <div class="row align-items-center ">
        <div class="col-lg-6 col-md-12">
            <!-- Image section -->
            <div class="row">
                <div class="col-12 mb-3">
                    <img src="../../assets/images/3.png" class="img-fluid" alt="Image 1">
                </div>

            </div>
        </div>
        <div class="col-lg-6 col-md-12 align-items-center">
            <!-- Text section -->
            <h3 class="s2-header">
                Your Future Workforce Starts Here
            </h3>

            <ul class="s2-subheader">
                <li>
                    Netsim Inc Consulting provides a reliable and comprehensive permanent placement service, catering to
                    the hiring needs of businesses seeking both early to mid-career professionals and executive-level
                    hires. With our expertise and extensive network, we ensure a seamless and effective recruitment
                    process to help you find the right talent for your organization.

                </li>
            </ul>
        </div>
        <div class="col-12 mt-3">
            <p class="pg-subheading1" style="text-align: left;">
                For early to mid-career professionals, Netsim Inc Consulting understands the importance of hiring
                individuals who possess the right skills, potential, and cultural fit to contribute to your team's
                growth and success. We meticulously screen and evaluate candidates, considering factors such as
                qualifications, experience, and career aspirations to match them with suitable opportunities. By
                focusing on identifying promising talent, Netsim Inc Consulting assists you in building a strong
                foundation for your organization's future.


            </p>
            <p class="pg-subheading1" style="text-align: left;">
                Throughout the permanent placement process, Netsim Inc Consulting maintains open and transparent
                communication, keeping you informed at every step. We provide guidance and support, leveraging our
                industry knowledge and expertise to assist you in making well-informed hiring decisions. Our commitment
                to professionalism and quality ensures that each placement is carefully executed, resulting in
                successful, long-term hires.


            </p>
            <p class="pg-subheading1" style="text-align: left;">
                By partnering with Netsim Inc Consulting for permanent placements, you can save time and effort in your
                recruitment process. Our dedicated team of experts handles the entire process, from sourcing and
                screening candidates to coordinating interviews and facilitating the hiring process. This allows you to
                focus on core business operations while ensuring that you secure top talent for your organization's
                growth and success.



            </p>
        </div>
    </div>
</div>
<div class="container-fluid  section-padding">

    <div class=" mt-5">
        <div class="row row-cols-1 row-cols-md-4 gy-5">
            <div class="col text-center">
                <div class="hexagon-container text-center">
                    <div class="hexagon">
                        <i class="fa-solid fa-fire-flame-curved"></i>
                    </div>
                </div>

                <h5 class="card-title">
                    Streamlined Hiring, Lasting Results
                </h5>
            </div>
            <div class="col text-center">
                <div class="hexagon-container text-center">
                    <div class="hexagon">
                        <i class="fa-solid fa-rocket"></i>
                    </div>
                </div>

                <h5 class="card-title">
                    Efficiency and Expertise Combined
                </h5>
            </div>
            <div class="col text-center">
                <div class="hexagon-container text-center">
                    <div class="hexagon">
                        <i class="fa-solid fa-key"></i>
                    </div>
                </div>

                <h5 class="card-title">
                    Building Bridges, Creating Career
                </h5>
            </div>
            <div class="col text-center">
                <div class="hexagon-container text-center">
                    <div class="hexagon">
                        <i class="fa-regular fa-star"></i>
                    </div>
                </div>

                <h5 class="card-title">
                    Securing Top Talent, Simplified
                </h5>
            </div>

        </div>
    </div>
</div>

<!-- Section 7 -->
<div class="position-relative section-padding s7-card mt-5 ">
    <div class="overlay" style="z-index: 0;"></div> <!-- Overlay div -->
    <div class="position-absolute top-50 start-50 translate-middle text-center" style="width: 76%;">
        <h3 class=" p1-header" style="color: #fff;z-index: 2;">
            Unlocking Potential, Building Success
        </h3>
    </div>
</div>

<!-- Section 6 -->
<div class="position-relative pb-5 section-padding s6-card">
    <div class="position-absolute top-50 start-50 translate-middle text-center" style="width: 76%;">
        <h3 class=" pg-heading1"> Ready to embark on an extraordinary <br>
            consulting and recruiting journey?
        </h3>
        <p class="pg-subheading1">
            We're here to make amazing things happen together! <br>
            Reach out to us now and let's get started.
        </p>
        <div class="align-items-center" style="margin: auto 0;text-align: center;">
            <button type="button" routerLink="/contactus" class="btn s6-btn">Contact Us</button>
        </div>
    </div>
</div>