<section class="hero-section d-flex align-items-center"
    style="background-image: url('../../assets/images/data_cover.jpg'); background-size: cover; height: 86vh; position: relative;">
    <div class="overlay"></div> <!-- Overlay div -->
    <div class="container-fluid text-center text-white section-padding" style="z-index: 1;">
        <h1 class="p1-header">
            Data Intelligence
        </h1>
        <p class="p2-header">
            Demystifying Artificial Intelligence for Your Business
        </p>
        <p class="s1-header">
            Architect cutting-edge and reliable data platforms with Netsim Inc's intuitive approach to artificial
            intelligence. Our focus on business intelligence, machine learning, and data science ensures the delivery of
            actionable insights from robust and trustworthy data platforms.

        </p>
    </div>
    <div class="position-absolute bottom-0 start-50 translate-middle-x" style="padding-bottom: 8px;">

        <nav aria-label="breadcrumb" class="align-items-center">
            <ol class="breadcrumb align-items-center">
                <li class="breadcrumb-item" routerLink="/">
                    <a>Home</a>
                </li>
                <li class="breadcrumb-item" routerLink="/">
                    <a>Our offering</a>
                </li>
                <li class="breadcrumb-item active">
                    <a>Data Intelligence</a>
                </li>
            </ol>
        </nav>

    </div>
</section>
<section class="mt-5 section-padding">
    <p class="pg-subheading1">
        Unlock the Potential of Your Customer Data: Translate insights into action with Netsim Inc. In the era of cloud,
        big data technologies, the internet of things (IoT), and a growing demand for advanced business insights, we
        strategically plan, design, build, and operationalize data and analytical platforms. Our high-performing teams
        of data engineers, architects, data scientists, and analysts ensure your data journey is optimized for success.
    </p>
</section>

<!-- Section 3 -->
<div class="container-fluid pb-5 section-padding mt-5">
    <div class="row align-items-center ">
        <div class="col-lg-6 col-md-12">
            <img src="../../assets/images/data_b.jpg" class="img-fluid" alt="Image 1">
        </div>
        <div class="col-lg-6 col-md-12 align-items-center">
            <!-- Text section -->
            <h3 class="s2-header">
                Harnessing the Power of Data for Business Insights:
            </h3>

            <ul class="s2-subheader">
                <li>
                    Implement advanced analytics techniques to extract actionable intelligence from data.

                </li>
                <li>
                    Leverage cutting-edge technologies to gain deeper insights into market trends and customer behavior.

                </li>
                <li>
                    Empower businesses to make strategic decisions based on data-driven insights.

                </li>
                <li>
                    Transform raw data into valuable assets that drive growth and innovation.

                </li>
            </ul>
        </div>
    </div>
</div>
<!-- cccc -->


<div class="container-fluid section-padding mt-5">
    <h3 class=" pg-heading1 text-center">
        Transforming Data into Impactful Insights
    </h3>
    <p class="pg-subheading1 text-center">
        At Netsim Inc, we prioritize understanding your business needs and challenges, aligning our analytic solutions
        to deliver impactful, data-driven insights. Leveraging proven analytics methodologies, best practices, and
        tools, we define the right solutions for complex business challenges, driving future growth.



    </p>
    <div class="row mt-5">
        <!-- Left side (Button List) -->
        <div class="col-md-5">
            <div class="list-group" id="list-tab" role="tablist">
                <button class="list-group-item list-group-item-action active" id="list-home-list" data-bs-toggle="list"
                    href="#list-home" role="tab" aria-controls="home">01- Strategic Data Governance</button>
                <button class="list-group-item list-group-item-action" id="list-profile-list" data-bs-toggle="list"
                    href="#list-profile" role="tab" aria-controls="profile">02- Human-Centered Analytics & BI</button>
                <button class="list-group-item list-group-item-action" id="list-messages-list" data-bs-toggle="list"
                    href="#list-messages" role="tab" aria-controls="messages">03- Data Strategy Implementation</button>
                <button class="list-group-item list-group-item-action" id="list-settings-list" data-bs-toggle="list"
                    href="#list-settings" role="tab" aria-controls="settings">04- Data Architecture Solutions</button>
                <button class="list-group-item list-group-item-action" id="list-analytics-list" data-bs-toggle="list"
                    href="#list-analytics" role="tab" aria-controls="analytics">05- Collaborative Advanced
                    Analytics</button>
            </div>
        </div>

        <!-- Right side (Content) -->
        <div class="col-md-7">
            <div class="tab-content" id="nav-tabContent">
                <!-- Strategic Data Governance content -->
                <div class="tab-pane fade show active" id="list-home" role="tabpanel" aria-labelledby="list-home-list">
                    <h4 style="font-size: 20px;font-weight: 600;">Harness the power of data governance to unlock
                        actionable insights</h4>
                    <p style="color: #637987;">Ensure the reliability of your data assets.</p>
                    <p style="font-weight: 600;">Solutions Provided:</p>
                    <ul class="s2-subheader">
                        <li>Detection & Response</li>
                        <li>Security Technology Management</li>
                        <li>EDR/XDR Management</li>
                        <li>Attack Surface & Vulnerability Management</li>
                    </ul>
                </div>
                <!-- Human-Centered Analytics content -->
                <div class="tab-pane fade" id="list-profile" role="tabpanel" aria-labelledby="list-profile-list">
                    <h4 style="font-size: 20px;font-weight: 600;">Human-Centered Analytics & Business Intelligence</h4>
                    <p style="color: #637987;">
                        Solutions focused on user-driven analytics and decision-making support systems.
                    </p>
                    <p style="font-weight: 600;">Solutions Provided:</p>
                    <ul class="s2-subheader">
                        <li>Craft data-driven stories with a human-centered design.</li>
                        <li>Create self-service analytic solutions and interactive visualizations for impactful
                            insights.</li>
                    </ul>

                </div>
                <!-- Data Strategy Implementation content -->
                <div class="tab-pane fade" id="list-messages" role="tabpanel" aria-labelledby="list-messages-list">
                    <h4 style="font-size: 20px;font-weight: 600;">
                        Data Strategy Implementation </h4>
                    <p style="color: #637987;">
                        Implementing data strategies that align with your business goals and objectives.
                    </p>
                    <p style="font-weight: 600;">Solutions Provided:</p>
                    <ul class="s2-subheader">
                        <li>
                            Move beyond viewing data as a platform and reports. </li>
                        <li>
                            Build a culture that embraces learning and growth from your organization's data. </li>
                    </ul>

                </div>
                <!-- Data Architecture Solutions content -->
                <div class="tab-pane fade" id="list-settings" role="tabpanel" aria-labelledby="list-settings-list">
                    <h4 style="font-size: 20px;font-weight: 600;">
                        Data Architecture Solutions </h4>
                    <p style="color: #637987;">
                        Building robust data architectures to support your organization's data flow and management. </p>
                    <p style="font-weight: 600;">Solutions Provided:</p>
                    <ul class="s2-subheader">
                        <li>
                            Navigate the ever-changing landscape of cloud technologies. </li>
                        <li>
                            Harness the expertise of Netsim Inc's multi-cloud certified data engineers to tailor
                            solutions for capturing, storing, analyzing, and visualizing your data. </li>
                    </ul>
                </div>
                <!-- Collaborative Advanced Analytics content -->
                <div class="tab-pane fade" id="list-analytics" role="tabpanel" aria-labelledby="list-analytics-list">
                    <h4 style="font-size: 20px;font-weight: 600;">
                        Collaborative Advanced Analytics </h4>
                    <p style="color: #637987;">
                        Leveraging advanced analytics techniques to foster collaboration and innovation. </p>
                    <p style="font-weight: 600;">Solutions Provided:</p>
                    <ul class="s2-subheader">
                        <li>
                            Provide business leaders with access to self-service analytics. </li>
                        <li>
                            Deliver intelligence, tools, and visualizations that articulate compelling stories. </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- 4444 -->
<div class="container-fluid  section-padding">

    <div class=" mt-5">
        <div class="row">
            <div class="col-12 text-center">
                <h3 class=" pg-heading1">
                    Transform Your Data Landscape
                </h3>
                <p class="pg-subheading1">
                    Craft state-of-the-art data platforms that unleash actionable insights through seamless integration
                    of business intelligence, machine learning, and data science.


                </p>
            </div>
        </div>
        <div class="row row-cols-1 row-cols-md-4 gy-5 mt-3">
            <div class="col text-center">
                <div class="hexagon-container text-center">
                    <div class="hexagon">
                        <i class="fa-solid fa-chart-column"></i>
                    </div>
                </div>

                <h5 class="card-title">
                    Insightful Analytics
                </h5>
            </div>
            <div class="col text-center">
                <div class="hexagon-container text-center">
                    <div class="hexagon">
                        <i class="fa-solid fa-location"></i>
                    </div>
                </div>

                <h5 class="card-title">Strategic Insights
                </h5>
            </div>
            <div class="col text-center">
                <div class="hexagon-container text-center">
                    <div class="hexagon">
                        <i class="fa-solid fa-rocket"></i>
                    </div>
                </div>

                <h5 class="card-title">Data Empowerment

                </h5>
            </div>
            <div class="col text-center">
                <div class="hexagon-container text-center">
                    <div class="hexagon">
                        <i class="fa-regular fa-lightbulb"></i>
                    </div>
                </div>

                <h5 class="card-title">Intelligent Solutions
                </h5>
            </div>

        </div>
    </div>
</div>

<!-- Section 7 -->
<div class="position-relative section-padding s7-card mt-5 ">
    <div class="overlay" style="z-index: 0;"></div> <!-- Overlay div -->
    <div class="position-absolute top-50 start-50 translate-middle text-center" style="width: 76%;">
        <h3 class=" p1-header" style="color: #fff;z-index: 2;">
            Empowering Insights for Business Success
        </h3>
    </div>
</div>

<!-- Section 6 -->
<div class="position-relative pb-5 section-padding s6-card">
    <div class="position-absolute top-50 start-50 translate-middle text-center" style="width: 76%;">
        <h3 class=" pg-heading1">
            Innovative Data Intelligence Solutions
        </h3>
        <p class="pg-subheading1">
            Engineer cutting-edge and reliable data platforms, unlocking actionable insights by seamlessly integrating
            business intelligence, machine learning, and data science.
        </p>
        <div class="align-items-center" style="margin: auto 0;text-align: center;">
            <button type="button" routerLink="/contactus" class="btn s6-btn">Contact Us</button>
        </div>
    </div>
</div>