<section class="hero-section d-flex align-items-center"
    style="background-image: url('../../assets/images/CyberS/header_testing.jpg'); background-size: cover; height: 86vh; position: relative;">
    <div class="overlay"></div> <!-- Overlay div -->
    <div class="container-fluid text-center text-white section-padding" style="z-index: 1;">
        <h1 class="p1-header">
            Cybersecurity Testing
        </h1>
        <p class="p2-header">
            Unlock Your Security Potential
        </p>
        <p class="s1-header">
            Explore the proactive world of cybersecurity testing with Netsim Inc. Our comprehensive services identify vulnerabilities and fortify your digital defenses for a secure future.

        </p>
    </div>
    <div class="position-absolute bottom-0 start-50 translate-middle-x breadcrumb-bottom-cls ">

        <nav aria-label="breadcrumb" class="align-items-center text-center ">
            <ol class="breadcrumb align-items-center justify-content-center">
                <li class="breadcrumb-item" routerLink="/">
                    <a>Home</a>
                </li>
                <li class="breadcrumb-item" routerLink="/cybersecurity-home">
                    Cybersecurity
                </li>
                <li class="breadcrumb-item active">
                    <a>Testing</a>
                </li>
            </ol>
        </nav>
        <svg class="w-full h-auto svg-curve" viewBox="0 0 2880 48" fill="#fff" xmlns="http://www.w3.org/2000/svg">
            <path d="M0 48H1437.5H2880V0H2160C1442.5 52 720 0 720 0H0V48Z" fill="#fff"></path>
        </svg>
    </div>
</section>
<section class="mt-5 section-padding">
    <p class="pg-subheading1">
        Cybersecurity testing, also known as penetration testing or security testing, is the proactive process of identifying security weaknesses and vulnerabilities in a system or network. Explore the following types of cybersecurity testing to better understand the comprehensive approach to securing digital assets:
    </p>
    <div class=" mt-5">
        <div class="row row-cols-1 row-cols-md-4 gy-5">
          <div class="col-md-4 p-0">
            <div class="card-padding-cls">
              <div class="card h-100 shadow ">
                <img src="../../assets/images/CyberS/1.jpg" class="card-img-top" alt="AI Solutions">
                <div class="card-body">
                  <h5 class="card-title">Security Audits
                </h5>
                  <p class="card-text">
                    Reviewing software or applications based on defined standards, including code, architecture, and security gaps analysis.
                </p>
                  <ul class="sub-list-cls">
                    <li>
                        <strong class="s2-subheader-bold">Example Test Outline:</strong> Conduct security audits to review software or applications based on defined standards. This involves a thorough examination of code, architecture, and analysis of security gaps.
                    </li>
                  </ul>
                </div>
              </div>
            </div>
    
          </div>
          <div class="col-md-4 p-0">
            <div class="card-padding-cls">
              <div class="card h-100 shadow ">
                <img src="../../assets/images/CyberS/2.jpg" class="card-img-top" alt="AI Solutions">
                <div class="card-body">
                  <h5 class="card-title">
                    Web Application Security Testing
                </h5>
                  <p class="card-text">
                    Verifying the vulnerability of web software to attacks, using both automatic and manual methods to assess risks.
                </p>
                  <ul class="sub-list-cls">
                    <li>
                        <strong class="s2-subheader-bold">Example Test Outline:</strong> Perform web application security testing to identify vulnerabilities. This includes automatic and manual methods to assess risks such as SQL injection, CSRF, XSS, and authentication.
                    </li>
                  </ul>
                </div>
              </div>
            </div>
    
          </div>
          <div class="col-md-4 p-0">
            <div class="card-padding-cls">
              <div class="card h-100 shadow ">
                <img src="../../assets/images/CyberS/3.jpg" class="card-img-top" alt="AI Solutions">
                <div class="card-body">
                  <h5 class="card-title">
                    Vulnerability Management
                </h5>
                  <p class="card-text">
                    Detecting, evaluating, and remediating vulnerabilities in endpoints, workloads, and networks to prioritize risks effectively.
                </p>
                  <ul class="sub-list-cls">
                    <li>
                        <strong class="s2-subheader-bold">Example Test Outline:</strong> 
                        Utilize vulnerability management to detect, evaluate, and remediate vulnerabilities in endpoints. Prioritize risks to ensure effective security measures.
                    </li>
                  </ul>
                </div>
              </div>
            </div>
    
          </div>
          <div class="col-md-4 p-0">
            <div class="card-padding-cls">
              <div class="card h-100 shadow ">
                <img src="../../assets/images/CyberS/4.jpg" class="card-img-top" alt="AI Solutions">
                <div class="card-body">
                  <h5 class="card-title">
                    Penetration Testing
                </h5>
                  <p class="card-text">
                    Simulating real-life cyberattacks to evaluate the effectiveness of existing security measures. Automated solutions now provide cost-effective and frequent testing.
                </p>
                  <ul class="sub-list-cls">
                    <li>
                        <strong class="s2-subheader-bold">Example Test Outline:</strong> 
                        Conduct penetration testing to simulate real-life cyberattacks. Evaluate the effectiveness of existing security measures using automated solutions for cost-effective and frequent testing.
                    </li>
                  </ul>
                </div>
              </div>
            </div>
    
          </div>
          <div class="col-md-4 p-0">
            <div class="card-padding-cls">
              <div class="card h-100 shadow ">
                <img src="../../assets/images/CyberS/5.jpg" class="card-img-top" alt="AI Solutions">
                <div class="card-body">
                  <h5 class="card-title">
                    API Security Testing
                </h5>
                  <p class="card-text">
                    Identifying vulnerabilities in applications and web services by testing APIs, crucial for preventing unauthorized access.
                </p>
                  <ul class="sub-list-cls">
                    <li>
                        <strong class="s2-subheader-bold">Example Test Outline:</strong> 
                        Test APIs for vulnerabilities to prevent unauthorized access. This includes assessing the security of applications and web services.
                    </li>
                  </ul>
                </div>
              </div>
            </div>
    
          </div>
          <div class="col-md-4 p-0">
            <div class="card-padding-cls">
              <div class="card h-100 shadow ">
                <img src="../../assets/images/CyberS/6.jpg" class="card-img-top" alt="AI Solutions">
                <div class="card-body">
                  <h5 class="card-title">
                    Application Security Testing (AST)
                </h5>
                  <p class="card-text">
                    Eliminating software vulnerabilities through testing, monitoring, and reporting at every stage of the software development lifecycle (SDLC).
                </p>
                  <ul class="sub-list-cls">
                    <li>
                        <strong class="s2-subheader-bold">Example Test Outline:</strong> 
                        Implement application security testing throughout the software development lifecycle. Identify and eliminate software vulnerabilities through continuous testing and monitoring.
                    </li>
                  </ul>
                </div>
              </div>
            </div>
    
          </div>
          <div class="col-md-4 p-0">
            <div class="card-padding-cls">
              <div class="card h-100 shadow ">
                <img src="../../assets/images/CyberS/7.jpg" class="card-img-top" alt="AI Solutions">
                <div class="card-body">
                  <h5 class="card-title">
                    Configuration Scanning
                </h5>
                  <p class="card-text">
                    Identifying security gaps in software, networks, or computer systems by comparing them to industry standards.
                </p>
                  <ul class="sub-list-cls">
                    <li>
                        <strong class="s2-subheader-bold">Example Test Outline:</strong> 
                        Perform configuration scanning to identify security gaps in software, networks, or computer systems. Compare them to industry standards for comprehensive security measures.
                    </li>
                  </ul>
                </div>
              </div>
            </div>
    
          </div>
          <div class="col-md-4 p-0">
            <div class="card-padding-cls">
              <div class="card h-100 shadow ">
                <img src="../../assets/images/CyberS/8.jpg" class="card-img-top" alt="AI Solutions">
                <div class="card-body">
                  <h5 class="card-title">
                    Application and API Scans and Treatment Plans
                </h5>
                  <p class="card-text">
                    Conducting thorough scans for applications and APIs and developing treatment plans to address identified vulnerabilities.
                </p>
                  <ul class="sub-list-cls">
                    <li>
                        <strong class="s2-subheader-bold">Example:</strong> 
                        Perform comprehensive scans on a web application, identifying security weaknesses, and create a treatment plan to implement necessary fixes.
                    </li>
                  </ul>
                </div>
              </div>
            </div>
    
          </div>
          <div class="col-md-4 p-0">
            <div class="card-padding-cls">
              <div class="card h-100 shadow ">
                <img src="../../assets/images/CyberS/9.jpg" class="card-img-top" alt="AI Solutions">
                <div class="card-body">
                  <h5 class="card-title">
                    AppSec and APISec Libraries
                </h5>
                  <p class="card-text">
                    Establishing and maintaining secure libraries for application and API security, ensuring standardized security practices.
                </p>
                  <ul class="sub-list-cls">
                    <li>
                        <strong class="s2-subheader-bold">Example:</strong> 
                        Example: Develop a library of secure coding practices and guidelines to be used across multiple software development projects.
                    </li>
                  </ul>
                </div>
              </div>
            </div>
    
          </div>
          <div class="col-md-4 p-0">
            <div class="card-padding-cls">
              <div class="card h-100 shadow ">
                <img src="../../assets/images/CyberS/10.jpg" class="card-img-top" alt="AI Solutions">
                <div class="card-body">
                  <h5 class="card-title">
                    Cloud Security Configuration and Federated Systems
                </h5>
                  <p class="card-text">
                    Ensuring robust security configurations in cloud environments and federated systems for secure data exchange.
                </p>
                  <ul class="sub-list-cls">
                    <li>
                        <strong class="s2-subheader-bold">Example:</strong> 
                        Configure cloud infrastructure securely, implement federated identity management for seamless and secure user authentication.
                    </li>
                  </ul>
                </div>
              </div>
            </div>
    
          </div>
          <div class="col-md-4 p-0">
            <div class="card-padding-cls">
              <div class="card h-100 shadow ">
                <img src="../../assets/images/CyberS/11.jpg" class="card-img-top" alt="AI Solutions">
                <div class="card-body">
                  <h5 class="card-title">
                    Managed BugBash and CyberBash Programs
                </h5>
                  <p class="card-text">
                    Ongoing management of bug bashes and cyber bashes to proactively identify and address potential vulnerabilities.
                </p>
                  <ul class="sub-list-cls">
                    <li>
                        <strong class="s2-subheader-bold">Example:</strong> 
                        Conduct regular bug bash events, involving stakeholders in identifying and addressing security issues in software applications.
                    </li>
                  </ul>
                </div>
              </div>
            </div>
    
          </div>
          <div class="col-md-4 p-0">
            <div class="card-padding-cls">
              <div class="card h-100 shadow ">
                <img src="../../assets/images/CyberS/12.jpg" class="card-img-top" alt="AI Solutions">
                <div class="card-body">
                  <h5 class="card-title">
                    Account Management / Access Management
                </h5>
                  <p class="card-text">
                    Evaluating and managing account and access controls to prevent unauthorized access and ensure least privilege.
                </p>
                  <ul class="sub-list-cls">
                    <li>
                        <strong class="s2-subheader-bold">Example:</strong> 
                        Implement role-based access control (RBAC) to restrict user access to sensitive data based on their roles and responsibilities.
                    </li>
                  </ul>
                </div>
              </div>
            </div>
    
          </div>
        
         
        </div>
      </div>
</section>

<div class="container-fluid  section-padding mt-5 text-center">
    <h3 class="pg-header1">
        Secure Today For A Tomorrow
    </h3>
    <p class="pg-subheading1">
        Choose Netsim Inc for cutting-edge cybersecurity testing that transforms weaknesses into strengths, securing your organization against evolving threats.
    </p>
    <div class=" mt-5">
        <div class="row row-cols-1 row-cols-md-4 gy-5">
            <div class="col text-center">
                <div class="hexagon-container text-center">
                    <div class="hexagon">
                        <i class="fa-solid fa-shield"></i>
                    </div>
                </div>

                <h5 class="card-title">
                    Comprehensive Safeguarding
                </h5>
            </div>
            <div class="col text-center">
                <div class="hexagon-container text-center">
                    <div class="hexagon">
                        <i class="fa-solid fa-location-crosshairs"></i>
                    </div>
                </div>

                <h5 class="card-title">
                    Technological Vigilance
                </h5>
            </div>
            <div class="col text-center">
                <div class="hexagon-container text-center">
                    <div class="hexagon">
                        <i class="fa-solid fa-lightbulb"></i>
                    </div>
                </div>

                <h5 class="card-title">
                    Forward-Focused Security
                </h5>
            </div>
            <div class="col text-center">
                <div class="hexagon-container text-center">
                    <div class="hexagon">
                        <i class="fa-solid fa-database"></i>
                    </div>
                </div>

                <h5 class="card-title">
                    Tailored Client Solutions
                </h5>
            </div>

        </div>
    </div>
</div>

<!-- Section 7 -->
<div class="position-relative section-padding s7-card mt-5 ">
    <div class="overlay" style="z-index: 0;"></div> <!-- Overlay div -->
    <div class="position-absolute top-50 start-50 translate-middle text-center" style="width: 76%;">
        <h3 class=" p1-header" style="color: #fff;z-index: 2;">
            Defend Your Digital Frontier!
        </h3>
    </div>
</div>

<!-- Section 6 -->
<div class="position-relative pb-5 section-padding s6-card">
    <div class="position-absolute top-50 start-50 translate-middle text-center" style="width: 76%;">
        <h3 class=" pg-heading1">
            Unlock Cybersecurity Excellence
        </h3>
        <p class="pg-subheading1">
            Explore the roadmap to a fortified digital future and elevate your organization's security strategy with our
            unparalleled cybersecurity expertise.
        </p>
        <div class="align-items-center" style="margin: auto 0;text-align: center;">
            <button type="button" routerLink="/contactus" class="btn s6-btn">Contact Us</button>
        </div>
    </div>
</div>