<section class="hero-section d-flex align-items-center"
    style="background-image: url('../../assets/images/our_clients_header.jpeg'); background-size: cover; height: 86vh; position: relative;">
    <div class="overlay"></div> <!-- Overlay div -->
    <div class="container-fluid text-center text-white section-padding " style="z-index: 1;">
        <h1 class="p1-header  mx-auto">Where Success Meets Service: <br>Successfully Serving Clients for 25+ Years
        </h1>
        <p class="s1-header w36rem mx-auto">Welcome to the Gateway of Possibilities!
            At Netsim Inc, we believe in the extraordinary power of connections. We're not just consultants and
            recruiters- we're catalysts of success, dreamers of big ideas, and partners in your journey towards
            greatness.

        </p>
    </div>
</section>
<!-- company list -->
<div class="section-padding  mt-3">

    <div class="slider">
        <div class="slide-track">
            <div class="slide">
                <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/2.png" height="100" width="250" alt="" />
            </div>
            <div class="slide">
                <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/3.png" height="100" width="250" alt="" />
            </div>
            <div class="slide">
                <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/4.png" height="100" width="250" alt="" />
            </div>
            <div class="slide">
                <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/5.png" height="100" width="250" alt="" />
            </div>
            <div class="slide">
                <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/6.png" height="100" width="250" alt="" />
            </div>
            <div class="slide">
                <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/7.png" height="100" width="250" alt="" />
            </div>
            <div class="slide">
                <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/1.png" height="100" width="250" alt="" />
            </div>
            <div class="slide">
                <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/2.png" height="100" width="250" alt="" />
            </div>
            <div class="slide">
                <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/3.png" height="100" width="250" alt="" />
            </div>
            <div class="slide">
                <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/4.png" height="100" width="250" alt="" />
            </div>
            <div class="slide">
                <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/5.png" height="100" width="250" alt="" />
            </div>
            <div class="slide">
                <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/6.png" height="100" width="250" alt="" />
            </div>
            <div class="slide">
                <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/7.png" height="100" width="250" alt="" />
            </div>
        </div>
    </div>
</div>
<section class="section-padding">
    <p class="pg-subheading1" style="text-align: left;">
        With over 25 years of experience in the industry, Alpha Pro Consulting has a proven track record of successfully
        serving clients across various sectors. Our extensive expertise and deep understanding of the staffing landscape
        have allowed us to consistently deliver exceptional staffing solutions.
    </p>
    <p class="pg-subheading1" style="text-align: left;">

        Alpha Pro Consulting takes pride in our roster of satisfied clients hailing from diverse industries. Our
        tailored staffing solutions have been instrumental in supporting the growth and success of organizations in
        sectors such as banking, media, energy, and more.
    </p>
    <p class="pg-subheading1" style="text-align: left;">
        We have helped our clients overcome talent challenges and achieve their business objectives through our
        comprehensive services. Their trust in our expertise and the positive outcomes they have experienced further
        validates our reputation as a trusted partner in staffing and workforce development.


    </p>
</section>
<!-- client cards -->
<section class="section-padding mt-5">
    <div class="row">
        <div class="col position-relative">
            <img src="../../assets/images/our_clients_transparency.jpg" class="img-fluid client-img-crd" alt="Image 1">
            <div class="card-hover mx-auto">Transparency</div>
        </div>
        <div class="col position-relative">
            <img src="../../assets/images/our_clients_inclusivity.jpg" class="img-fluid client-img-crd" alt="Image 2">
            <div class="card-hover mx-auto">Inclusivity</div>
        </div>
        <div class="col position-relative">
            <img src="../../assets/images/our_clients_performance.jpeg" class="img-fluid client-img-crd" alt="Image 3">
            <div class="card-hover mx-auto">High Performance</div>
        </div>
    </div>
</section>

<!-- Section globe -->
<div class="position-relative pb-5 section-padding globe-card  text-center ">
    <div class="overlay" style="background-color: #fff !important;"></div> <!-- Overlay div -->

    <div class="position-absolute top-50 start-50 translate-middle " style="width: 76%;">

        <h3 class=" pg-heading1"> Transparency is our middle name: Delivering turnkey solutions with integrity.
        </h3>
        <p class="pg-subheading1 w36rem mx-auto">
            What sets us apart is our unwavering commitment to transparency in all our operations, delivering turnkey solutions that meet our clients' needs.
        </p>
       
    </div>
    <div class="position-absolute bottom-0 start-50 translate-middle-x " style="width: 76%;">
        <div style="display: flex;justify-content: space-around;justify-items: center;">
            <div class="text-center align-items-center" >
                <p class="hrs-cls">1000+ </p>
                <p style="color: #0A3348;font-size: 18px;margin-top: -20px;">Resources Hired
                </p>
            </div>
            <div class="text-center align-items-center" >
                <p class="hrs-cls">10000+ </p>
                <p style="color: #0A3348;font-size: 18px;margin-top: -20px;">Consulting Hours
                </p>
            </div>
            <div class="text-center align-items-center" >
                <p class="hrs-cls">25+ </p>
                <p style="color: #0A3348;font-size: 18px;margin-top: -20px;">Years of Experience

                </p>
            </div>
        </div>
    </div>
    
</div>

<!-- Section 7 -->
<div class="position-relative section-padding s7-card mt-5">
    <div class="overlay" style="z-index: 0;"></div> <!-- Overlay div -->
    <div class="position-absolute top-50 start-50 translate-middle text-center" style="width: 76%;">
        <h3 class=" p1-header " style="color: #fff;z-index: 2;">Your Partner in Success: Delivering <br>
            Excellence Through Adaptive Solutions
        </h3>
    </div>
</div>

<!-- Section 6 -->
<div class="position-relative pb-5 section-padding s6-card mt-5 text-center ">
    <div class="position-absolute top-50 start-50 translate-middle " style="width: 76%;">
        <h3 class=" pg-heading1"> Ready to embark on an extraordinary <br>consulting and recruiting journey?
        </h3>
        <p class="pg-subheading1">
            We're here to make amazing things happen together! <br>Reach out to us now and let's get started.
        </p>
        <div class="align-items-center" style="margin: auto 0;text-align: center;">
            <button type="button" class="btn p1-btn">Contact Us</button>
        </div>
    </div>
</div>