<section class="hero-section d-flex align-items-center"
    style="background-image: url('../../assets/images/CyberS/header_assessment.jpg'); background-size: cover; height: 86vh; position: relative;">
    <div class="overlay"></div> <!-- Overlay div -->
    <div class="container-fluid text-center text-white section-padding" style="z-index: 1;">
        <h1 class="p1-header">
            Cybersecurity Assessment
        </h1>
        <p class="p2-header">
            Strengthen Your Digital Resilience
        </p>
        <p class="s1-header">
            Elevate your confidence in digital resilience with NetSim's meticulous evaluation, empowering you to
            fortify your security posture and proactively navigate evolving challenges.
        </p>
    </div>
    <div class="position-absolute bottom-0 start-50 translate-middle-x breadcrumb-bottom-cls ">

        <nav aria-label="breadcrumb" class="align-items-center text-center ">
            <ol class="breadcrumb align-items-center justify-content-center">
                <li class="breadcrumb-item" routerLink="/">
                    <a>Home</a>
                </li>
                <li class="breadcrumb-item" routerLink="/cybersecurity-home">
                    Cybersecurity
                </li>
                <li class="breadcrumb-item active">
                    <a>Assessment</a>
                </li>
            </ol>
        </nav>
        <svg class="w-full h-auto svg-curve" viewBox="0 0 2880 48" fill="#fff" xmlns="http://www.w3.org/2000/svg">
            <path d="M0 48H1437.5H2880V0H2160C1442.5 52 720 0 720 0H0V48Z" fill="#fff"></path>
        </svg>
    </div>
</section>
<section class="mt-5 section-padding">
    <p class="pg-subheading1">
        Our distinctive approach integrates cutting-edge technology and strategic expertise, exemplifying an unwavering
        commitment to excellence, continuous innovation, and the trusted satisfaction of our clients. This establishes
        NetSim as the preferred choice for securing digital futures among leading organizations.
    </p>
</section>

<!-- Section 3 -->
<div class="container-fluid pb-5 section-padding mt-5">
    <div class="row align-items-center ">
        <div class="col-lg-6 col-md-12">
            <!-- Image section -->
            <div class="row">
                <div class="col-12 mb-3">
                    <img src="../../assets/images/CyberS/assessments_left.jpg" class="img-fluid" alt="Image 1">
                </div>

            </div>
        </div>
        <div class="col-lg-6 col-md-12 align-items-center">
            <!-- Text section -->
            <h3 class="s2-header">
                Empower Your Defense Strategy
            </h3>
            <ul class="s2-subheader">
                <li>
                    Shield your business against cyber threats, elevate your defense strategy, and secure your digital
                    future with unwavering confidence.

                </li>

            </ul>
            <h3 class="s2-header">
                Navigating Cyber Security Challenges
            </h3>
            <ul class="s2-subheader">
                <li>
                    In an era where threats to computer systems, software, and networks are increasingly sophisticated,
                    businesses risk not only financial losses but also damage to reputation and customer loyalty in the
                    event of a successful cyberattack. Regular cyber security testing and assessments are imperative to
                    identify vulnerabilities and ensure they are up-to-date and effective.

                </li>

            </ul>
        </div>
    </div>
</div>
<div class="container-fluid pb-5 mt-5 section-padding">
    <h3 class="p2-header">
        There are three main types of cybersecurity assessments: Risk, Compliance and Maturity assessments.
    </h3>

    <div class=" mt-5">
        <div class="row row-cols-1 row-cols-md-3 g-4">
            <div class="col">
                <div class="card h-100 text-center shadow">
                    <div class="card-body">
                        <div class="rectangle-container text-center">
                            <div class="rectangle">
                                <i class="fa-regular fa-file-lines"></i>
                            </div>
                        </div>

                        <h5 class="card-title s4-subheader">
                            Risk Assessment
                        </h5>
                        <p class="card-text s1-clr">
                            Identifying and assessing potential risks to a business’s assets, networks, and systems.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100 text-center shadow">

                    <div class="card-body mt-2">
                        <div class="rectangle-container text-center">
                            <div class="rectangle">
                                <i class="fa-solid fa-code"></i>
                            </div>
                        </div>

                        <h5 class="card-title s4-subheader">
                            Compliance Assessment
                        </h5>
                        <p class="card-text s1-clr">
                            Assessing a company’s security measures to ensure they follow relevant regulations and
                            standards.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100 text-center shadow">
                    <div class="card-body">
                        <div class="rectangle-container text-center">
                            <div class="rectangle">
                                <i class="fas fa-location-crosshairs"></i>
                                <!-- Replace this with your desired Font Awesome icon -->
                            </div>
                        </div>

                        <h5 class="card-title s4-subheader">
                            Maturity Assessment
                        </h5>
                        <p class="card-text s1-clr">
                            Evaluating a company’s security against relevant standards and guidelines


                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid  section-padding mt-5 text-center">
    <h3 class="pg-header1">
        A “Security First” Culture
    </h3>
    <p class="pg-subheading1">

        Cultivate an environment where each team member prioritizes security. Explore <br> how we can transform security
        into your organization's collective strength.



    </p>
    <div class=" mt-5">
        <div class="row row-cols-1 row-cols-md-4 gy-5">
            <div class="col text-center">
                <div class="hexagon-container text-center">
                    <div class="hexagon">
                        <i class="fa-solid fa-shield"></i>
                    </div>
                </div>

                <h5 class="card-title">
                    Comprehensive Safeguarding
                </h5>
            </div>
            <div class="col text-center">
                <div class="hexagon-container text-center">
                    <div class="hexagon">
                        <i class="fa-solid fa-location-crosshairs"></i>
                    </div>
                </div>

                <h5 class="card-title">
                    Technological Vigilance
                </h5>
            </div>
            <div class="col text-center">
                <div class="hexagon-container text-center">
                    <div class="hexagon">
                        <i class="fa-solid fa-lightbulb"></i>
                    </div>
                </div>

                <h5 class="card-title">
                    Forward-Focused Security
                </h5>
            </div>
            <div class="col text-center">
                <div class="hexagon-container text-center">
                    <div class="hexagon">
                        <i class="fa-solid fa-database"></i>
                    </div>
                </div>

                <h5 class="card-title">
                    Tailored Client Solutions
                </h5>
            </div>

        </div>
    </div>
</div>

<!-- Section 7 -->
<div class="position-relative section-padding s7-card mt-5 ">
    <div class="overlay" style="z-index: 0;"></div> <!-- Overlay div -->
    <div class="position-absolute top-50 start-50 translate-middle text-center" style="width: 76%;">
        <h3 class=" p1-header" style="color: #fff;z-index: 2;">
            Defend Your Digital Frontier!
        </h3>
    </div>
</div>

<!-- Section 6 -->
<div class="position-relative pb-5 section-padding s6-card">
    <div class="position-absolute top-50 start-50 translate-middle text-center" style="width: 76%;">
        <h3 class=" pg-heading1">
            Unlock Cybersecurity Excellence
        </h3>
        <p class="pg-subheading1">
            Explore the roadmap to a fortified digital future and elevate your organization's security strategy with our
            unparalleled cybersecurity expertise.
        </p>
        <div class="align-items-center" style="margin: auto 0;text-align: center;">
            <button type="button" routerLink="/contactus" class="btn s6-btn">Contact Us</button>
        </div>
    </div>
</div>