<section class="hero-section d-flex align-items-center"
    style="background-image: url('../../assets/images/agility_cover.jpg'); background-size: cover; height: 86vh; position: relative;">
    <div class="overlay"></div> <!-- Overlay div -->
    <div class="container-fluid text-center text-white section-padding" style="z-index: 1;">
        <h1 class="p1-header">
            Projects & Business Agility
        </h1>
        <p class="p2-header">
            Empowering Technology Projects and Elevating Business Agility
        </p>
        <p class="s1-header">
            Steer complex technology initiatives towards timely and budget-friendly success with our commitment to
            optimizing delivery processes and reducing waste, enhancing overall business agility.
        </p>
    </div>
    
    <div class="position-absolute bottom-0 start-50 translate-middle-x breadcrumb-bottom-cls " >

        <nav aria-label="breadcrumb" class="align-items-center text-center ">
            <ol class="breadcrumb align-items-center justify-content-center">
                <li class="breadcrumb-item" routerLink="/">
                    <a>Home</a>
                </li>
                <li class="breadcrumb-item" routerLink="/our-offering">
                    <a>Our offering</a>
                </li>
                <li class="breadcrumb-item active">
                    <a>Projects & Business Agility</a>
                </li>
            </ol>
        </nav>
        <svg class="w-full h-auto svg-curve" viewBox="0 0 2880 48" fill="#fff" xmlns="http://www.w3.org/2000/svg">
            <path d="M0 48H1437.5H2880V0H2160C1442.5 52 720 0 720 0H0V48Z" fill="#fff"></path>
        </svg>
    </div>
</section>
<section class="mt-5 section-padding ">
    <p class="pg-subheading1" style="text-align: left;">
        We meticulously optimize delivery processes, leveraging cutting-edge methodologies and innovative strategies to
        enhance overall business agility. By doing so, we ensure that your organization is poised to swiftly adapt to
        evolving market demands and seize emerging opportunities, thus extracting maximum value from your technological
        endeavors.
    </p>
    <!-- Section 3 -->
    <div class="container-fluid pb-5">
        <div class="row align-items-center ">
            <div class="col-lg-6 col-md-12">
                <!-- Image section -->
                <div class="row">
                    <div class="col-12 mb-3">
                        <img src="../../assets/images/home_single_left.jpg" class="img-fluid" alt="Image 1">
                    </div>

                </div>
            </div>
            <div class="col-lg-6 col-md-12 align-items-center">
                <!-- Text section -->
                <h3 class="s2-header">Why Choose Netsim Inc as Your Business Partner?</h3>
                <ul class="s2-subheader">
                    <li><strong class="s2-subheader-bold">Expertise and Experience:</strong> Years of industry
                        experience and seasoned professionals navigating complex technology projects.</li>
                    <li><strong class="s2-subheader-bold">Tailored Solutions:</strong>
                        Customized approaches tailored to meet the unique needs and challenges of your organization.

                    </li>
                    <li><strong class="s2-subheader-bold">
                            Commitment to Excellence:</strong>
                        Unwavering dedication to addressing technical challenges and driving continuous value towards
                        organizational goals.
                    </li>
                    <li><strong class="s2-subheader-bold">People-Centric Approach:</strong>
                        Prioritizing individuals with a focus on maximizing adoption and minimizing resistance.
                    </li>
                    <li><strong class="s2-subheader-bold">Comprehensive Support:</strong>
                        Offering comprehensive support at every step of your technology journey, from strategy to
                        implementation.

                    </li>

                </ul>
            </div>
        </div>
    </div>
    <div class=" mt-5">
        <h3 class="text-center mb-4 pg-heading1">Key Offerings</h3>

        <div class="row row-cols-1 row-cols-md-4 gy-5">

            <div class="col-md-4 p-0">
                <div class="card-padding-cls">
                    <div class="card h-100 shadow">
                        <img src="../../assets/images/agility_b11.jpg" class="card-img-top" alt="Technology">
                        <div class="card-body">
                            <h5 class="card-title">Strategic Enterprise Agility
                            </h5>

                            <ul class="sub-list-cls">
                                <li>
                                    Adapt existing methods and introduce best practices for market and stakeholder
                                    alignment.
                                </li>
                                <li>
                                    Tailor the Agile journey to your organization's current state.
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-md-4 p-0">
                <div class="card-padding-cls">
                    <div class="card h-100 shadow">
                        <img src="../../assets/images/agility_b_2.jpg" class="card-img-top" alt="Staffing">
                        <div class="card-body">
                            <h5 class="card-title">Excellence in Technical Delivery
                            </h5>

                            <ul class="sub-list-cls">
                                <li>
                                    Address technical delivery challenges and enhance long-term methods.
                                </li>
                                <li>
                                    Eliminate future implementation oversights to consistently drive value towards
                                    organizational goals.
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-md-4 p-0">
                <div class="card-padding-cls">
                    <div class="card h-100 shadow">
                        <img src="../assets/images/home_service_3.jpg" class="card-img-top" alt="Consulting">
                        <div class="card-body">
                            <h5 class="card-title">People-Centric Organizational Change Management
                            </h5>
                            <ul class="sub-list-cls">
                                <li>
                                    Establish a people strategy aligning individuals with technology and processes.
                                </li>
                                <li>
                                    Maximize adoption and minimize resistance through our Organizational Change
                                    Management (OCM) approach.
                                </li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>




<!-- 4444 -->
<div class="container-fluid  section-padding">

    <div class=" mt-5">
        <div class="row">
            <div class="col-12 text-center">
                <h3 class=" pg-heading1">
                    Unlock Success with Netsim Inc's Expertise
                </h3>
                <p class="pg-subheading1">
                    From technology strategy to implementation, project resources, and team support, leverage our
                    expertise for impactful results. Witness the transformative power of effective project leadership.

                </p>
            </div>
        </div>
        <div class="row row-cols-1 row-cols-md-4 gy-5 mt-3">
            <div class="col text-center">
                <div class="hexagon-container text-center">
                    <div class="hexagon">
                        <i class="fa-solid fa-rocket"></i>
                    </div>
                </div>

                <h5 class="card-title">
                    Delivery Optimization
                </h5>
            </div>
            <div class="col text-center">
                <div class="hexagon-container text-center">
                    <div class="hexagon">
                        <i class="fa-solid fa-location"></i>
                    </div>
                </div>

                <h5 class="card-title">
                    Agile Transformation
                </h5>
            </div>
            <div class="col text-center">
                <div class="hexagon-container text-center">
                    <div class="hexagon">
                        <i class="fa-solid fa-lightbulb"></i>
                    </div>
                </div>

                <h5 class="card-title">
                    Technology Leadership

                </h5>
            </div>
            <div class="col text-center">
                <div class="hexagon-container text-center">
                    <div class="hexagon">
                        <i class="fa-solid fa-gear"></i>
                    </div>
                </div>

                <h5 class="card-title">
                    Business Empowerment
                </h5>
            </div>

        </div>
    </div>
</div>

<!-- Section 7 -->
<div class="position-relative section-padding s7-card mt-5 ">
    <div class="overlay" style="z-index: 0;"></div> <!-- Overlay div -->
    <div class="position-absolute top-50 start-50 translate-middle text-center" style="width: 76%;">
        <h3 class=" p1-header" style="color: #fff;z-index: 2;">
            Navigating Technology Initiatives with Precision
        </h3>
    </div>
</div>

<!-- Section 6 -->
<div class="position-relative pb-5 section-padding s6-card">
    <div class="position-absolute top-50 start-50 translate-middle text-center" style="width: 76%;">
        <h3 class=" pg-heading1">
            Streamlined Solutions
        </h3>
        <p class="pg-subheading1">
            Navigate complex technology projects efficiently, optimizing delivery processes, and minimizing
            inefficiencies to boost business agility.
        </p>
        <div class="align-items-center" style="margin: auto 0;text-align: center;">
            <button type="button" routerLink="/contactus" class="btn s6-btn">Contact Us</button>
        </div>
    </div>
</div>