<section class="hero-section d-flex align-items-center"
    style="background-image: url('../../assets/images/AI/ai_services_header.jpg'); background-size: cover; height: 86vh; position: relative;">
    <div class="overlay"></div> <!-- Overlay div -->
    <div class="container-fluid text-center text-white section-padding" style="z-index: 1;">
        <h1 class="p1-header">
            Services and Solutions
        </h1>
        <p class="p2-header">
            Innovative AI Solutions Tailored to Drive Your Business Forward
        </p>
        <p class="s1-header">
            Unlock the power of AI with our bespoke solutions designed to meet your unique business needs. From advanced data analytics to cutting-edge machine learning models, we provide transformative technologies that propel growth and enhance operational efficiency.
        </p>
    </div>
    <div class="position-absolute bottom-0 start-50 translate-middle-x breadcrumb-bottom-cls ">

        <nav aria-label="breadcrumb" class="align-items-center text-center ">
            <ol class="breadcrumb align-items-center justify-content-center">
                <li class="breadcrumb-item" routerLink="/">
                    <a>Home</a>
                </li>
                <li class="breadcrumb-item" routerLink="/ai-home">
                    AI Solutions
                </li>
                <li class="breadcrumb-item active">
                    <a>AI Services & Solutions</a>
                </li>
            </ol>
        </nav>
        <svg class="w-full h-auto svg-curve" viewBox="0 0 2880 48" fill="#fff" xmlns="http://www.w3.org/2000/svg">
            <path d="M0 48H1437.5H2880V0H2160C1442.5 52 720 0 720 0H0V48Z" fill="#fff"></path>
        </svg>
    </div>
</section>
<section class="mt-5 section-padding">
    <p class="pg-subheading1">
        Our team of experts partners with you to craft and deploy AI strategies that align with your objectives. With a focus on practical results and sustainable impact, we ensure your business leverages AI to its fullest potential, staying ahead in a competitive landscape.
    </p>
    <div class=" mt-5">
        <div class="row row-cols-1 row-cols-md-4 gy-5">
          <div class="col-md-4 p-0">
            <div class="card-padding-cls">
              <div class="card h-100 shadow ">
                <img src="../../assets/images/AI/2.jpg" class="card-img-top" alt="AI Solutions">
                <div class="card-body">
                  <h5 class="card-title">
                    AI-Powered Data Integration and Migration Services
                </h5>
                  <p class="card-text">
                    Leverage AI for seamless data integration and migration across platforms, ensuring consistency and integrity with real-time updates, cross-platform compatibility, and robust data quality management.
                </p>
                  <ul class="sub-list-cls">
                    <li>
                        <strong class="s2-subheader-bold">Features:</strong> 
                        Real-time updates, cross-platform compatibility, data quality management.
                    </li>
                    <li>
                        <strong class="s2-subheader-bold">Examples:</strong> 
                         Cloud-based data lakes, CRM integration with AI analytics.
                    </li>
                  </ul>
                </div>
              </div>
            </div>
    
          </div>
          <div class="col-md-4 p-0">
            <div class="card-padding-cls">
              <div class="card h-100 shadow ">
                <img src="../../assets/images/AI/3.jpg" class="card-img-top" alt="AI Solutions">
                <div class="card-body">
                  <h5 class="card-title">
                    AI-Driven Business Intelligence and Analytics
                </h5>
                  <p class="card-text">
                    Harness advanced AI tools for business intelligence and analytics, gaining deeper insights through predictive analytics, real-time visualization, and automated reporting.
                </p>
                  <ul class="sub-list-cls">
                    <li>
                        <strong class="s2-subheader-bold">Features:</strong> 
                        Predictive analytics, real-time visualization, automated reporting.
                    </li>
                    <li>
                        <strong class="s2-subheader-bold">Examples:</strong> 
                        AI dashboards, trend analysis tools.
                    </li>
                  </ul>
                </div>
              </div>
            </div>
    
          </div>
          <div class="col-md-4 p-0">
            <div class="card-padding-cls">
              <div class="card h-100 shadow ">
                <img src="../../assets/images/AI/4.jpg" class="card-img-top" alt="AI Solutions">
                <div class="card-body">
                  <h5 class="card-title">
                    AI Solutions for Compliance and Risk Management
                </h5>
                  <p class="card-text">
                    Ensure regulatory compliance and efficient risk management with AI technologies, including automated compliance monitoring, risk prediction, and anomaly detection.
                </p>
                  <ul class="sub-list-cls">
                    <li>
                        <strong class="s2-subheader-bold">Features:</strong> 
                         Automated compliance monitoring, risk prediction, anomaly detection.
                    </li>
                    <li>
                        <strong class="s2-subheader-bold">Examples:</strong> 
                        Compliance audits, predictive risk analysis.
                    </li>
                  </ul>
                </div>
              </div>
            </div>
    
          </div>
          <!--  -->
          <div class="col-md-4 p-0">
            <div class="card-padding-cls">
              <div class="card h-100 shadow ">
                <img src="../../assets/images/AI/8.jpg" class="card-img-top" alt="AI Solutions">
                <div class="card-body">
                  <h5 class="card-title">
                    AI-Enhanced Digital Transformation Consulting
                </h5>
                  <p class="card-text">
                    Guide clients in digital transformation with strategic AI solutions, offering strategic planning, implementation support, and change management.
                </p>
                  <ul class="sub-list-cls">
                    <li>
                        <strong class="s2-subheader-bold">Features:</strong> 
                        Strategic planning, implementation support, change management.
                    </li>
                    <li>
                        <strong class="s2-subheader-bold">Examples:</strong> 
                        AI adoption roadmaps, employee training programs.
                    </li>
                  </ul>
                </div>
              </div>
            </div>
    
          </div>
          <div class="col-md-4 p-0">
            <div class="card-padding-cls">
              <div class="card h-100 shadow ">
                <img src="../../assets/images/AI/9.jpg" class="card-img-top" alt="AI Solutions">
                <div class="card-body">
                  <h5 class="card-title">
                    AI for Enhanced Customer Engagement
                </h5>
                  <p class="card-text">
                    Elevate customer interactions and satisfaction with AI-driven insights and personalized services, including AI chatbots, customized service, and real-time analytics.
                </p>
                  <ul class="sub-list-cls">
                    <li>
                        <strong class="s2-subheader-bold">Features:</strong> 
                         AI-driven chatbots, personalized service, real-time analytics.
                    </li>
                    <li>
                        <strong class="s2-subheader-bold">Examples:</strong> 
                        Virtual assistants, personalized recommendations.
                    </li>
                  </ul>
                </div>
              </div>
            </div>
    
          </div>
          <div class="col-md-4 p-0">
            <div class="card-padding-cls">
              <div class="card h-100 shadow ">
                <img src="../../assets/images/AI/10.jpg" class="card-img-top" alt="AI Solutions">
                <div class="card-body">
                  <h5 class="card-title">
                    AI-Driven Customer Experience (CX) Enhancement
                </h5>
                  <p class="card-text">
                    Enhance customer experience with AI, offering personalized and real-time engagement, including real-time insights, personalized recommendations, and AI-powered customer service.
                </p>
                  <ul class="sub-list-cls">
                    <li>
                        <strong class="s2-subheader-bold">Features:</strong> 
                        Real-time insights, personalized recommendations, AI-powered service.
                    </li>
                    <li>
                        <strong class="s2-subheader-bold">Examples:</strong> 
                        Customer support platforms, marketing campaigns.
                    </li>
                  </ul>
                </div>
              </div>
            </div>
    
          </div>
          <!--  -->
          <div class="col-md-4 p-0">
            <div class="card-padding-cls">
              <div class="card h-100 shadow ">
                <img src="../../assets/images/AI/5.jpg" class="card-img-top" alt="AI Solutions">
                <div class="card-body">
                  <h5 class="card-title">
                    AI-Enabled Talent Management Solutions
                </h5>
                  <p class="card-text">
                    Enhance hiring, training, and retention with AI, fostering an effective workforce through predictive analytics, personalized learning paths, and employee engagement tools.

                </p>
                  <ul class="sub-list-cls">
                    <li>
                        <strong class="s2-subheader-bold">Features:</strong> 
                        Predictive analytics, personalized learning paths, employee engagement tools.
                    </li>
                    <li>
                        <strong class="s2-subheader-bold">Examples:</strong> 
                        Recruitment platforms, personalized development programs.
                    </li>
                  </ul>
                </div>
              </div>
            </div>
    
          </div>
          <div class="col-md-4 p-0">
            <div class="card-padding-cls">
              <div class="card h-100 shadow ">
                <img src="../../assets/images/AI/6.jpg" class="card-img-top" alt="AI Solutions">
                <div class="card-body">
                  <h5 class="card-title">
                    AI-Driven Business Intelligence and Analytics
                </h5>
                  <p class="card-text">
                    Harness advanced AI tools for business intelligence and analytics, gaining deeper insights through predictive analytics, real-time visualization, and automated reporting.
                </p>
                  <ul class="sub-list-cls">
                    <li>
                        <strong class="s2-subheader-bold">Features:</strong> 
                        Predictive analytics, real-time visualization, automated reporting.
                    </li>
                    <li>
                        <strong class="s2-subheader-bold">Examples:</strong> 
                        AI dashboards, trend analysis tools.
                    </li>
                  </ul>
                </div>
              </div>
            </div>
    
          </div>
          <div class="col-md-4 p-0">
            <div class="card-padding-cls">
              <div class="card h-100 shadow ">
                <img src="../../assets/images/AI/7.jpg" class="card-img-top" alt="AI Solutions">
                <div class="card-body">
                  <h5 class="card-title">
                    AI Solutions for Compliance and Risk Management
                </h5>
                  <p class="card-text">
                    Ensure regulatory compliance and efficient risk management with AI technologies, including automated compliance monitoring, risk prediction, and anomaly detection.
                </p>
                  <ul class="sub-list-cls">
                    <li>
                        <strong class="s2-subheader-bold">Features:</strong> 
                        Automated compliance monitoring, risk prediction, anomaly detection.
                    </li>
                    <li>
                        <strong class="s2-subheader-bold">Examples:</strong> 
                        Compliance audits, predictive risk analysis.
                    </li>
                  </ul>
                </div>
              </div>
            </div>
    
          </div>
          <!--  -->
          <div class="col-md-4 p-0">
            <div class="card-padding-cls">
              <div class="card h-100 shadow ">
                <img src="../../assets/images/AI/11.jpg" class="card-img-top" alt="AI Solutions">
                <div class="card-body">
                  <h5 class="card-title">
                    Custom AI Applications for Business Optimization
                </h5>
                  <p class="card-text">
                    Create tailored AI solutions to optimize business processes, enhancing efficiency with custom models, user-friendly interfaces, and industry-specific optimizations.

                </p>
                  <ul class="sub-list-cls">
                    <li>
                        <strong class="s2-subheader-bold">Features:</strong> 
                        Custom-built models, user-friendly interfaces, industry-specific optimizations.
                    </li>
                    <li>
                        <strong class="s2-subheader-bold">Examples:</strong> 
                        Supply chain optimization, personalized marketing automation.
                    </li>
                  </ul>
                </div>
              </div>
            </div>
    
          </div>
        </div>
      </div>
</section>

<div class="container-fluid  section-padding mt-5 text-center">
    <h3 class="pg-header1">
        Tailored AI Solutions that Drive Business Transformation
    </h3>
    <p class="pg-subheading1">
        Transform your operations with customized AI strategies designed to enhance efficiency and drive growth. Our solutions turn innovation into competitive advantage and ensure lasting success.
    </p>
    <div class=" mt-5">
        <div class="row row-cols-1 row-cols-md-4 gy-5">
            <div class="col text-center">
                <div class="rectangle-container text-center">
                    <div class="rectangle">
                        <i class="fa-solid fa-location-crosshairs"></i>
                    </div>
                </div>

                <h5 class="card-title">
                    AI Strategy Development
                </h5>
            </div>
            <div class="col text-center">
                <div class="rectangle-container text-center">
                    <div class="rectangle">
                        <i class="fa-solid fa-rocket"></i>
                    </div>
                </div>

                <h5 class="card-title">
                    Seamless Integration
                </h5>
            </div>
            <div class="col text-center">
                <div class="rectangle-container text-center">
                    <div class="rectangle">
                        <i class="fa-solid fa-chart-column"></i>                    </div>
                </div>

                <h5 class="card-title">
                    Data-Driven Insights
                </h5>
            </div>
            <div class="col text-center">
                <div class="rectangle-container text-center">
                    <div class="rectangle">
                        <i class="fa-solid fa-lightbulb"></i>
                    </div>
                </div>

                <h5 class="card-title">
                    Innovative Solutions
                </h5>
            </div>

        </div>
    </div>
</div>

<!-- Section 7 -->
<div class="position-relative section-padding s7-card mt-5 ">
    <div class="overlay" style="z-index: 0;"></div> <!-- Overlay div -->
    <div class="position-absolute top-50 start-50 translate-middle text-center" style="width: 76%;">
        <h3 class=" p1-header" style="color: #fff;z-index: 2;">
            AI Excellence Unleashed
        </h3>
    </div>
</div>

<!-- Section 6 -->
<div class="position-relative pb-5 section-padding s6-card">
    <div class="position-absolute top-50 start-50 translate-middle text-center" style="width: 76%;">
        <h3 class=" pg-heading1">
            Unlock the Future:
        </h3>
        <p class="pg-subheading1">
            Join the AI Revolution and Tap into a Market Set for $1,811.8 Billion Growth

        </p>
        <div class="align-items-center" style="margin: auto 0;text-align: center;">
            <button type="button" routerLink="/contactus" class="btn s6-btn">Contact Us</button>
        </div>
    </div>
</div>