<section class="hero-section d-flex align-items-center"
    style="background-image: url('../../assets/images/home_service_1.jpg'); background-size: cover; height: 86vh; position: relative;">
    <div class="overlay"></div> <!-- Overlay div -->
    <div class="container-fluid text-center text-white section-padding" style="z-index: 1;">
        <h1 class="p1-header">Empower. Transform. Innovate.</h1>
        <p class="p2-header">Enhance Your Business With Technology, Staffing, and Consulting Solutions for Workforce
            Transformation</p>
        <p class="s1-header">At Netsim Inc Consulting, we drive workforce transformation through comprehensive
            solutions, fostering innovation and growth.</p>
    </div>
    <div class="position-absolute bottom-0 start-50 translate-middle-x" style="padding-bottom: 8px;">
               
        <nav aria-label="breadcrumb" class="align-items-center">
          <ol class="breadcrumb align-items-center">
            <li class="breadcrumb-item" routerLink="/">
                <a>Home</a>
            </li>
            <li class="breadcrumb-item active">
              <a >About Us</a>
            </li>
          </ol>
        </nav>
        
    </div>
</section>
<section class="mt-5 section-padding">
    <p class="pg-subheading1">
        With a focus on innovation, we partner with clients to unlock the full potential of their workforce and drive
        business success. As a small yet committed team, we prioritize providing the best staffing solutions for our
        clients while supporting their efforts to create inclusive and diverse workplaces.
    </p>
</section>
<div class="container-fluid pb-5 section-padding">
    <h3 class="p2-header"> Empowering Your Business Through Innovation.
    </h3>

    <div class=" mt-5">
        <div class="row row-cols-1 row-cols-md-4 gy-5">
            <div class="col p-0">
                <div class="card-padding-cls">
                    <div class="card h-100 text-center shadow ">
                        <div class="card-body">
                            <div class="hexagon-container text-center">
                                <div class="hexagon">
                                    <i class="fa-regular fa-lightbulb"></i>                                    <!-- Replace this with your desired Font Awesome icon -->
                                </div>
                            </div>

                            <h5 class="card-title">Innovative Technology Solutions
                            </h5>
                            <ul class="sub-list-cls">
                                <li>Leverage over 25 years of experience to implement cutting-edge technology solutions
                                    and drive digital transformation.
                                </li>
                                <li>
                                    Tailor technologies to your business needs for enhanced efficiency and productivity.
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col p-0">
                <div class="card-padding-cls">
                    <div class="card h-100 text-center shadow ">
                        <div class="card-body">
                            <div class="hexagon-container text-center">
                                <div class="hexagon">
                                    <i class="fa-solid fa-location"></i>                                    <!-- Replace this with your desired Font Awesome icon -->
                                </div>
                            </div>

                            <h5 class="card-title">Transparency and Efficiency
                            </h5>
                            <ul class="sub-list-cls">
                                <li>
                                    Utilize advanced technology for transparent processes and operations, enhancing
                                    efficiency and productivity.
                                </li>
                                <li>
                                    Benefit from automated systems and data-driven insights to streamline operations.
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col p-0">
                <div class="card-padding-cls">
                    <div class="card h-100 text-center shadow ">
                        <div class="card-body">
                            <div class="hexagon-container text-center">
                                <div class="hexagon">
                                    <i class="fa-solid fa-rocket"></i>
                                    <!-- Replace this with your desired Font Awesome icon -->
                                </div>
                            </div>

                            <h5 class="card-title">Inclusive Workplace Technology
                            </h5>
                            <ul class="sub-list-cls">
                                <li>
                                    Promote diversity and inclusivity in the workplace through technology solutions.
                                </li>
                                <li>
                                    Provide tools and platforms for accessibility and accommodation, fostering a
                                    supportive environment for all employees.
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col p-0">
                <div class="card-padding-cls">
                    <div class="card h-100 text-center shadow ">
                        <div class="card-body">
                            <div class="hexagon-container text-center">
                                <div class="hexagon">
                                    <i class="fa-regular fa-handshake"></i>                                    <!-- Replace this with your desired Font Awesome icon -->
                                </div>
                            </div>

                            <h5 class="card-title">
                                Technology-Driven Success
                            </h5>
                            <ul class="sub-list-cls">
                                <li>
                                    Position your business for success in the digital age with technology-driven
                                    solutions.
                                </li>
                                <li>
                                    Implement innovative technology strategies to stay ahead of the competition.
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<!-- Section 3 -->
<div class="container-fluid pb-5 section-padding mt-5">
    <div class="row align-items-center ">
        <div class="col-lg-6 col-md-12">
            <!-- Image section -->
            <div class="row">
                <div class="col-12 mb-3">
                    <img src="../../assets/images/aboutus_31.png" class="img-fluid" alt="Image 1">
                </div>

            </div>
        </div>
        <div class="col-lg-6 col-md-12 align-items-center">
            <!-- Text section -->
            <h3 class="s2-header">Our Commitment to Transparency and Inclusivity</h3>
            <h3 class="s2-header2">Building Strong Relationships Through Openness and Honesty
            </h3>
            <ul class="s2-subheader">
                <li>
                    We firmly believe that total transparency is crucial for fostering strong, long-lasting
                    relationships with our clients, which is why we operate with complete openness and honesty about our
                    expenses and services. Our approach involves partnering with clients to provide comprehensive
                    guidance on inclusive hiring practices, addressing unconscious bias, and promoting workplace
                    accessibility. Through these efforts, we aim to cultivate stronger, more diverse teams capable of
                    achieving greater success together
                </li>
            </ul>
        </div>
    </div>
</div>

<!-- cards -->
<section class="container-fluid section-padding mini-cards ">
    <div class="row">
        <div class="col-md-4 col-sm-6">
            <div class="card  shadow text-center p-2">
                <div class="d-flex align-items-center ">
                    <div class="circle-container text-center">
                        <div class="circle">
                            <i class="fa-solid fa-hand-holding-dollar"></i>                        </div>
                    </div>
                    <h5 class="mini-crd-txt">Cost-Effectiveness
                    </h5>

                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6">
            <div class="card  shadow text-center p-2">
                <div class="d-flex align-items-center ">
                    <div class="circle-container text-center">
                        <div class="circle">
                            <i class="fa-regular fa-heart"></i>                        </div>
                    </div>
                    <h5 class="mini-crd-txt">High Customer Satisfaction
                    </h5>

                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6">
            <div class="card  shadow text-center p-2">
                <div class="d-flex align-items-center ">
                    <div class="circle-container text-center">
                        <div class="circle">
                            <i class="fa-regular fa-star"></i>                        </div>
                    </div>
                    <h5 class="mini-crd-txt">Veterans’ Support
                    </h5>

                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6">
            <div class="card  shadow text-center p-2">
                <div class="d-flex align-items-center ">
                    <div class="circle-container text-center">
                        <div class="circle">
                            <i class="fa-solid fa-user-check"></i>                        </div>
                    </div>
                    <h5 class="mini-crd-txt">High Quality Candidates
                    </h5>

                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6">
            <div class="card  shadow text-center p-2">
                <div class="d-flex align-items-center ">
                    <div class="circle-container text-center">
                        <div class="circle">
                            <i class="fa-brands fa-servicestack"></i>                        </div>
                    </div>
                    <h5 class="mini-crd-txt">Diverse and Inclusive Staffing
                    </h5>

                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6">
            <div class="card  shadow text-center p-2">
                <div class="d-flex align-items-center ">
                    <div class="circle-container text-center">
                        <div class="circle">
                            <i class="fa-solid fa-code"></i>                        </div>
                    </div>
                    <h5 class="mini-crd-txt">Industry Expertise
                    </h5>

                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6">
            <div class="card  shadow text-center p-2">
                <div class="d-flex align-items-center ">
                    <div class="circle-container text-center">
                        <div class="circle">
                            <i class="fa-solid fa-rocket"></i>                        </div>
                    </div>
                    <h5 class="mini-crd-txt">Technology and Innovation
                    </h5>

                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6">
            <div class="card  shadow text-center p-2">
                <div class="d-flex align-items-center ">
                    <div class="circle-container text-center">
                        <div class="circle">
                            <i class="fa-regular fa-clock"></i>                        </div>
                    </div>
                    <h5 class="mini-crd-txt">Optimal Time-to-Hire
                    </h5>

                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6">
            <div class="card  shadow text-center p-2">
                <div class="d-flex align-items-center ">
                    <div class="circle-container text-center">
                        <div class="circle">
                            <i class="fa-solid fa-recycle"></i>                        </div>
                    </div>
                    <h5 class="mini-crd-txt">Low Staff Turnover Rate
                    </h5>

                </div>
            </div>
        </div>
    </div>
</section>
<!-- Section 7 -->
<div class="position-relative section-padding s7-card ">
    <div class="overlay" style="z-index: 0;"></div> <!-- Overlay div -->
    <div class="position-absolute top-50 start-50 translate-middle text-center" style="width: 76%;">
        <h3 class=" p1-header" style="color: #fff;z-index: 2;">Reignite Your Success - Embrace <br>
            the Edge with us!
        </h3>
    </div>
</div>

<!-- Section 6 -->
<div class="position-relative pb-5 section-padding s6-card">
    <div class="position-absolute top-50 start-50 translate-middle text-center" style="width: 76%;">
        <h3 class=" pg-heading1"> Ready to embark on an extraordinary <br>
            consulting and recruiting journey?
        </h3>
        <p class="pg-subheading1">
            We're here to make amazing things happen together! <br>
            Reach out to us now and let's get started.
        </p>
        <div class="align-items-center" style="margin: auto 0;text-align: center;">
            <button type="button" routerLink="/contactus"  class="btn s6-btn">Contact Us</button>
        </div>
    </div>
</div>
