<section class="hero-section d-flex align-items-center"
    style="background-image: url('../../assets/images/managed.jpg'); background-size: cover; height: 86vh; position: relative;">
    <div class="overlay"></div> <!-- Overlay div -->
    <div class="container-fluid text-center text-white section-padding" style="z-index: 1;">
        <h1 class="p1-header">Managed Solutions</h1>

        <p class="s1-header">Top-notch consulting expertise and specialized project teams that can provide customized
            solutions tailored to your unique requirements.</p>
    </div>
    <div class="position-absolute bottom-0 start-50 translate-middle-x" style="padding-bottom: 8px;">

        <nav aria-label="breadcrumb" class="align-items-center">
            <ol class="breadcrumb align-items-center">
                <li class="breadcrumb-item" routerLink="/">
                    <a>Home</a>
                </li>
                <li class="breadcrumb-item" routerLink="/">
                    <a>Our offering</a>
                </li>
                <li class="breadcrumb-item active">
                    <a>Managed Solutions</a>
                </li>
            </ol>
        </nav>

    </div>
</section>
<section class="mt-5 section-padding">
    <p class="pg-subheading1">
        Netsim Inc Consulting offers a comprehensive Managed Solutions service, providing businesses with access to
        top-notch consulting expertise and specialized project teams. This service is designed to deliver customized
        solutions tailored to meet your unique requirements and drive successful outcomes for your organization.


    </p>
</section>

<!-- Section 3 -->
<div class="container-fluid pb-5 section-padding mt-5">
    <div class="row align-items-center ">
        <div class="col-lg-6 col-md-12">
            <!-- Image section -->
            <div class="row">
                <div class="col-12 mb-3">
                    <img src="../../assets/images/4.png" class="img-fluid" alt="Image 1">
                </div>

            </div>
        </div>
        <div class="col-lg-6 col-md-12 align-items-center">
            <!-- Text section -->
            <h3 class="s2-header">Our Commitment to Transparency and Inclusivity</h3>

            <ul class="s2-subheader">
                <li>
                    When you engage Netsim Inc Consulting's Managed Solutions, you gain access to a team of highly
                    skilled consultants with extensive industry knowledge and experience. Our consultants are equipped
                    with the expertise to analyze your business needs, identify opportunities for improvement, and
                    develop tailored strategies and solutions. We work closely with you to understand your goals,
                    challenges, and vision, ensuring that the solutions provided align with your overall business
                    objectives.

                </li>
            </ul>
        </div>
        <div class="col-12 mt-3">
            <p class="pg-subheading1" style="text-align: left;">
                Netsim Inc Consulting's specialized project teams are dedicated to delivering results and achieving
                project success. These teams are formed based on the specific requirements of your project, assembling
                professionals with the right skill sets and experience. With a focus on collaboration and efficiency, we
                work seamlessly with your internal teams, ensuring effective communication, timely delivery, and
                high-quality outcomes.
            </p>
            <p class="pg-subheading1" style="text-align: left;">
                The Managed Solutions service is flexible and adaptable, catering to a wide range of business needs.
                Whether you require assistance with process optimization, technology implementation, change management,
                or any other aspect of your operations, Netsim Inc Consulting can provide the expertise and resources to
                support your initiatives.
            </p>
            <p class="pg-subheading1" style="text-align: left;">
                Furthermore, we emphasize a customer-centric approach in our Managed Solutions service. We prioritize
                open communication and collaboration throughout the engagement, keeping you informed about project
                progress, milestones, and any necessary adjustments. Our goal is to build a strong partnership with you,
                working together to achieve measurable results and drive long-term success for your organization.
            </p>
        </div>
    </div>
</div>
<div class="container-fluid  section-padding">

    <div class=" mt-5">
        <div class="row row-cols-1 row-cols-md-4 gy-5">
            <div class="col text-center">
                <div class="hexagon-container text-center">
                    <div class="hexagon">
                        <i class="fa-regular fa-star"></i>
                    </div>
                </div>

                <h5 class="card-title">Customer-Centric Excellence
                </h5>
            </div>
            <div class="col text-center">
                <div class="hexagon-container text-center">
                    <div class="hexagon">
                        <i class="fa-solid fa-rocket"></i>
                    </div>
                </div>

                <h5 class="card-title">Results-Oriented Approach
                </h5>
            </div>
            <div class="col text-center">
                <div class="hexagon-container text-center">
                    <div class="hexagon">
                        <i class="fa-solid fa-location-crosshairs"></i>
                    </div>
                </div>

                <h5 class="card-title">Tailored Solutions, Seamless Collaboration
                </h5>
            </div>
            <div class="col text-center">
                <div class="hexagon-container text-center">
                    <div class="hexagon">
                        <i class="fa-solid fa-arrow-trend-up"></i>
                    </div>
                </div>

                <h5 class="card-title">Empowering Progress, Enabling Growth
                </h5>
            </div>

        </div>
    </div>
</div>

<!-- Section 7 -->
<div class="position-relative section-padding s7-card mt-5 ">
    <div class="overlay" style="z-index: 0;"></div> <!-- Overlay div -->
    <div class="position-absolute top-50 start-50 translate-middle text-center" style="width: 76%;">
        <h3 class=" p1-header" style="color: #fff;z-index: 2;">Expert Consulting. Customized
            <br>
            Solutions. Unparalleled Results.
        </h3>
    </div>
</div>

<!-- Section 6 -->
<div class="position-relative pb-5 section-padding s6-card">
    <div class="position-absolute top-50 start-50 translate-middle text-center" style="width: 76%;">
        <h3 class=" pg-heading1"> Ready to embark on an extraordinary <br>
            consulting and recruiting journey?
        </h3>
        <p class="pg-subheading1">
            We're here to make amazing things happen together! <br>
            Reach out to us now and let's get started.
        </p>
        <div class="align-items-center" style="margin: auto 0;text-align: center;">
            <button type="button" routerLink="/contactus" class="btn s6-btn">Contact Us</button>
        </div>
    </div>
</div>