html, body { height: 100%; }
body { margin: 0; 
    padding-top: 80px;
    font-family: 'Nunito Sans', sans-serif;
    color: #0A3348;
 }
 .section-padding{
    padding: 16px !important;
}

.p1-clr{
    color: #FF1E57;
}
.p2-clr{
    color: #0A3348;
}
.s1-clr{
color: #637987 !important;
}
.p1-header{
    font-size: 2.25rem;
    font-weight: 700;
}
.p2-header{
    font-size: 1.875rem;
    font-weight: 600;
    text-align: center;
}
.s1-header{
    font-size: 1.125rem;
    font-weight: 500;
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #0A3348 !important;
    opacity: 0.8;
    z-index: 0; /* Ensure it’s above the image but below the caption */
}
.p1-btn{
    background-color: #FF1E57 !important;
    color: #fff !important;
    height: 40px;
    width: 154px;
    text-transform: uppercase;
    font-size: 13px;
}

.breadcrumb-item{
    color: #637987;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 13px;
    cursor: pointer;
  }
  .breadcrumb-item.active{
    color: #fff;
  }
  .breadcrumb-item:hover{
    color: #fff;
  }
  .svg-curve{
    transform-origin: top center;
    transform: scale(2);
    overflow: hidden;
  }
  .breadcrumb-bottom-cls{
    width: 100%;
    overflow: hidden;
  }
  .hexagon-container {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 90px;
    background-color: transparent;
    margin-bottom: 16px;
  }
  .hexagon {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #f6f6fe;
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  }
  
  .hexagon i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 28px;
    color: #FF1E57; /* Icon color */
  }
  .rectangle-container {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
    background-color: transparent;
    margin-bottom: 16px;
  }
  .rectangle {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #f6f6fe;
    border-radius: 16px;
    // clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  }
  
  .rectangle i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 28px;
    color: #FF1E57; /* Icon color */
  }
  .circle-container {
    display: inline-block;
    position: relative;
    width: 80px; /* Width of the circle */
    height: 80px; /* Height of the circle */
    background-color: transparent;
  }
  
  .circle {
    position: relative;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, #fff, #f2f1fd);
    border-radius: 50%; /* Creates the circular shape */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .circle i {
    font-size: 21px; /* Icon size */
    color: #FF1E57; /* Icon color */
  }

@media (min-width: 992px) { /* Target large screens */
    .navbar-nav {
      margin-left: 60px !important; /* Adjust padding as needed */
    }
    .section-padding{
        padding: 12px 12% !important;
        
    }
    
    
  }