<section class="hero-section d-flex align-items-center"
    style="background-image: url('../../assets/images/veterans.jpg'); background-size: cover; height: 86vh; position: relative;">
    <div class="overlay"></div> <!-- Overlay div -->
    <div class="container-fluid text-center text-white section-padding" style="z-index: 1;">
        <h1 class="p1-header">
            Saluting Veterans' Talent: Unleashing their Remarkable Dedication!
        </h1>

        <p class="s1-header">
            We're dedicated to supporting our nation's veterans by providing them with opportunities to join our pool of talent.

        </p>
    </div>

    <div class="position-absolute bottom-0 start-50 translate-middle-x breadcrumb-bottom-cls ">

        <nav aria-label="breadcrumb" class="align-items-center text-center ">
            <ol class="breadcrumb align-items-center justify-content-center">
                <li class="breadcrumb-item" routerLink="/">
                    <a>Home</a>
                </li>
                <li class="breadcrumb-item" routerLink="/our-offering">
                    <a>Our offering</a>
                </li>
                <li class="breadcrumb-item active">
                    <a>Veterans Talent
                    </a>
                </li>
            </ol>
        </nav>
        <svg class="w-full h-auto svg-curve" viewBox="0 0 2880 48" fill="#fff" xmlns="http://www.w3.org/2000/svg">
            <path d="M0 48H1437.5H2880V0H2160C1442.5 52 720 0 720 0H0V48Z" fill="#fff"></path>
        </svg>
    </div>
</section>
<section class="mt-5 section-padding">
    <p class="pg-subheading1" style="text-align: left;">
        NetSim understands the importance of tapping into the local talent market to optimize business outcomes. By hiring local professionals, you benefit from their familiarity with the regional context, industry dynamics, and local regulations. This enables seamless integration into your organization, leading to enhanced productivity and accelerated project timelines.

    </p>
</section>

<!-- Section 3 -->
<div class="container-fluid pb-5 section-padding mt-5">
    <div class="row align-items-center ">
        <div class="col-lg-6 col-md-12">
            <!-- Image section -->
            <div class="row">
                <div class="col-12 mb-3">
                    <img src="../../assets/images/5.png" class="img-fluid" alt="Image 1">
                </div>

            </div>
        </div>
        <div class="col-lg-6 col-md-12 align-items-center">
            <!-- Text section -->
            <h3 class="s2-header">
                Veterans: The Pride of Commitment, The Strength of Sacrifice
            </h3>

            <ul class="s2-subheader">
                <li>
                    NetSim is dedicated to supporting our nation's veterans by offering them opportunities to join our pool of talent. Recognizing the unique skills, experience, and dedication that veterans bring to the table, NetSim aims to create a pathway for veterans to transition into meaningful civilian careers.


                </li>
            </ul>
        </div>
        <div class="col-12 mt-3">
            <p class="pg-subheading1" style="text-align: left;">
                Through our Veterans Talent program, NetSim actively seeks out and recruits veterans who have served in the armed forces. We understand the valuable qualities that veterans possess, including leadership, discipline, adaptability, teamwork, and problem-solving skills. By tapping into this talent pool, NetSim not only benefits from the diverse perspectives and capabilities of veterans but also provides them with a platform to utilize their skills in a civilian work environment.



            </p>
            <p class="pg-subheading1" style="text-align: left;">
                By actively promoting veterans' employment, NetSim contributes to the larger goal of empowering veterans and creating opportunities for their professional growth. We work closely with clients to highlight the benefits of hiring veterans, including their strong work ethic, adaptability, and ability to perform under pressure. By bridging the gap between veterans and employers, NetSim plays a crucial role in facilitating successful career transitions for veterans.



            </p>
            
        </div>
    </div>
</div>
<div class="container-fluid  section-padding">

    <div class=" mt-5">
        <div class="row row-cols-1 row-cols-md-4 gy-5">
            <div class="col text-center">
                <div class="hexagon-container text-center">
                    <div class="hexagon">
                        <i class="fa-solid fa-star"></i>
                    </div>
                </div>

                <h5 class="card-title">
                    Bridging the Gap, Empowering Veterans
                </h5>
            </div>
            <div class="col text-center">
                <div class="hexagon-container text-center">
                    <div class="hexagon">
                        <i class="fa-solid fa-rocket"></i>
                    </div>
                </div>

                <h5 class="card-title">
                    Seamless Transitions, Thriving Futures
                </h5>
            </div>
            <div class="col text-center">
                <div class="hexagon-container text-center">
                    <div class="hexagon">
                        <i class="fa-solid fa-location-crosshairs"></i>
                    </div>
                </div>

                <h5 class="card-title">
                    Skills Unleashed, Results Achieved
                </h5>
            </div>
            <div class="col text-center">
                <div class="hexagon-container text-center">
                    <div class="hexagon">
                        <i class="fa-regular fa-paper-plane"></i>
                    </div>
                </div>

                <h5 class="card-title">
                    Opportunities Unleashed, Careers Transformed
                </h5>
            </div>

        </div>
    </div>
</div>

<!-- Section 7 -->
<div class="position-relative section-padding s7-card mt-5 ">
    <div class="overlay" style="z-index: 0;"></div> <!-- Overlay div -->
    <div class="position-absolute top-50 start-50 translate-middle text-center" style="width: 76%;">
        <h3 class=" p1-header" style="color: #fff;z-index: 2;">
            Empowering Heroes, Empowering Success
        </h3>
    </div>
</div>

<!-- Section 6 -->
<div class="position-relative pb-5 section-padding s6-card">
    <div class="position-absolute top-50 start-50 translate-middle text-center" style="width: 76%;">
        <h3 class=" pg-heading1"> Ready to embark on an extraordinary <br>
            consulting and recruiting journey?
        </h3>
        <p class="pg-subheading1">
            We're here to make amazing things happen together! <br>
            Reach out to us now and let's get started.
        </p>
        <div class="align-items-center" style="margin: auto 0;text-align: center;">
            <button type="button" routerLink="/contactus" class="btn s6-btn">Contact Us</button>
        </div>
    </div>
</div>