<section class="hero-section d-flex align-items-center"
    style="background-image: url('../../assets/images/CyberS/header_cybersecurity.jpg'); background-size: cover; height: 86vh; position: relative;">
    <div class="overlay"></div> <!-- Overlay div -->
    <div class="container-fluid text-center text-white section-padding" style="z-index: 1;">
        <h1 class="p1-header">
            Protect Your Digital Future
        </h1>
        <p class="p2-header">
            With NetSim's Comprehensive Cybersecurity Solutions
        </p>
        <p class="s1-header">
            Safeguard your organization against cyber threats and foster a proactive security stance
        </p>
    </div>
    <div class="position-absolute bottom-0 start-50 translate-middle-x breadcrumb-bottom-cls ">

        <nav aria-label="breadcrumb" class="align-items-center text-center ">
            <ol class="breadcrumb align-items-center justify-content-center">
                <li class="breadcrumb-item" routerLink="/">
                    <a>Home</a>
                </li>
                <li class="breadcrumb-item" routerLink="/our-offering">
                    Our Offering
                </li>
                <li class="breadcrumb-item active">
                    <a>Cybersecurity</a>
                </li>
            </ol>
        </nav>
        <svg class="w-full h-auto svg-curve" viewBox="0 0 2880 48" fill="#fff" xmlns="http://www.w3.org/2000/svg">
            <path d="M0 48H1437.5H2880V0H2160C1442.5 52 720 0 720 0H0V48Z" fill="#fff"></path>
        </svg>
    </div>
</section>
<section class="mt-5 section-padding">
    <p class="pg-subheading1">
        Discover unparalleled peace of mind as cutting-edge technology and strategic expertise converge to fortify your
        digital landscape. Explore why NetSim Solutions stands out as the cybersecurity choice for leading
        organizations.

    </p>
</section>

<!-- Section 3 -->
<div class="container-fluid pb-5 section-padding mt-5">
    <div class="row align-items-center ">
        <div class="col-lg-6 col-md-12">
            <!-- Image section -->
            <div class="row">
                <div class="col-12 mb-3">
                    <img src="../../assets/images/CyberS/cyber_left.jpg" class="img-fluid" alt="Image 1">
                </div>

            </div>
        </div>
        <div class="col-lg-6 col-md-12 align-items-center">
            <!-- Text section -->
            <h3 class="s2-header">Why Choose NetSim as Your Cybersecurity Partner?
            </h3>
            <ul class="s2-subheader">
                <li><strong class="s2-subheader-bold">Holistic Defense:</strong>

                    Deploy comprehensive measures to defend against evolving cyber threats.

                </li>
                <li><strong class="s2-subheader-bold">Expertise You Can Trust:</strong>
                    Rely on seasoned professionals with vast experience in cybersecurity strategy.

                </li>
                <li><strong class="s2-subheader-bold">Cutting-Edge Technology:</strong> Stay ahead with state-of-the-art
                    cybersecurity technologies.
                </li>
                <li><strong class="s2-subheader-bold">Diverse Staffing:</strong> Fostering innovation through diversity.
                </li>
                <li><strong class="s2-subheader-bold">High-Quality Candidates:</strong> Exceeding expectations with
                    top-tier
                    talent.</li>
                <li><strong class="s2-subheader-bold">Proactive Security Stance:</strong> Cultivate a secure environment
                    by anticipating and mitigating risks.

                </li>
                <li><strong class="s2-subheader-bold">Client-Centric Solutions:</strong> Tailor cybersecurity solutions
                    aligning with unique business requirements.
                </li>

            </ul>
        </div>
    </div>
</div>
<div class="container-fluid pb-5 mt-5 section-padding">
    <h3 class="p2-header">
        Explore a Secure Digital Future with NetSim's Comprehensive Cybersecurity Services
    </h3>

    <div class=" mt-5">
        <div class="row row-cols-1 row-cols-md-3 g-4">
            <div class="col">
                <div class="card h-100 text-center shadow">
                    <div class="card-body">
                        <div class="hexagon-container text-center">
                            <div class="hexagon">
                                <i class="fa-regular fa-file-lines"></i>
                            </div>
                        </div>

                        <h5 class="card-title s4-subheader">Cybersecurity Assessment
                        </h5>
                        <p class="card-text s1-clr">
                            Assess and fortify your digital resilience with meticulous evaluations, empowering your
                            organization to navigate evolving challenges confidently.

                        </p>
                        <a class="p1-clr" routerLink="/cybersecurity-assessment">Read More &rarr;</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100 text-center shadow">

                    <div class="card-body mt-2">
                        <div class="hexagon-container text-center">
                            <div class="hexagon">
                                <i class="fa-solid fa-code"></i>
                            </div>
                        </div>

                        <h5 class="card-title s4-subheader">Cybersecurity Testing
                        </h5>
                        <p class="card-text s1-clr">
                            Proactively identify and address security weaknesses with our cybersecurity testing
                            services, ensuring robust protection against potential cyber threats.
                        </p>
                        <a class="p1-clr" routerLink="/cybersecurity-testing">Read More &rarr;</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100 text-center shadow">
                    <div class="card-body">
                        <div class="hexagon-container text-center">
                            <div class="hexagon">
                                <i class="fas fa-location-crosshairs"></i>
                                <!-- Replace this with your desired Font Awesome icon -->
                            </div>
                        </div>

                        <h5 class="card-title s4-subheader">Cybersecurity Solutions
                        </h5>
                        <p class="card-text s1-clr">
                            Empower your organization's future with tailored cybersecurity solutions, showcasing Netsim
                            Inc's commitment to excellence, innovation, and unmatched client satisfaction

                        </p>
                        <a class="p1-clr" routerLink="/cybersecurity-solution">Read More &rarr;</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid  section-padding mt-5 text-center">
    <h3 class="pg-header1">
        Foster a Culture of Security
    </h3>
    <p class="pg-subheading1">

        Unlock an environment where each team member becomes a guardian of <br> security. Explore how we can transform
        security into your organization's <br> collective strength.


    </p>
    <div class=" mt-5">
        <div class="row row-cols-1 row-cols-md-4 gy-5">
            <div class="col text-center">
                <div class="hexagon-container text-center">
                    <div class="hexagon">
                        <i class="fa-solid fa-shield"></i>
                    </div>
                </div>

                <h5 class="card-title">
                    Comprehensive Safeguarding
                </h5>
            </div>
            <div class="col text-center">
                <div class="hexagon-container text-center">
                    <div class="hexagon">
                        <i class="fa-solid fa-location-crosshairs"></i>
                    </div>
                </div>

                <h5 class="card-title">
                    Forward-Focused Security
                </h5>
            </div>
            <div class="col text-center">
                <div class="hexagon-container text-center">
                    <div class="hexagon">
                        <i class="fa-solid fa-lightbulb"></i>
                    </div>
                </div>

                <h5 class="card-title">
                    Tailored Client Solutions
                </h5>
            </div>
            <div class="col text-center">
                <div class="hexagon-container text-center">
                    <div class="hexagon">
                        <i class="fa-solid fa-database"></i>
                    </div>
                </div>

                <h5 class="card-title">
                    Technological Vigilance
                </h5>
            </div>

        </div>
    </div>
</div>

<!-- Section 7 -->
<div class="position-relative section-padding s7-card ">
    <div class="overlay" style="z-index: 0;"></div> <!-- Overlay div -->
    <div class="position-absolute top-50 start-50 translate-middle text-center" style="width: 76%;">
        <h3 class=" p1-header" style="color: #fff;z-index: 2;">
            Defend Your Digital Frontier!
        </h3>
    </div>
</div>

<!-- Section 6 -->
<div class="position-relative pb-5 section-padding s6-card">
    <div class="position-absolute top-50 start-50 translate-middle text-center" style="width: 76%;">
        <h3 class=" pg-heading1">
            Unlock Cybersecurity Excellence
        </h3>
        <p class="pg-subheading1">
            Explore the roadmap to a fortified digital future and elevate your organization's security strategy with our
            unparalleled cybersecurity expertise.
        </p>
        <div class="align-items-center" style="margin: auto 0;text-align: center;">
            <button type="button" routerLink="/contactus" class="btn s6-btn">Contact Us</button>
        </div>
    </div>
</div>