<section class="hero-section d-flex align-items-center"
    style="background-image: url('../../assets/images/CyberS/header_solutions.jpg'); background-size: cover; height: 86vh; position: relative;">
    <div class="overlay"></div> <!-- Overlay div -->
    <div class="container-fluid text-center text-white section-padding" style="z-index: 1;">
        <h1 class="p1-header">
            Cybersecurity Solutions
        </h1>
        <p class="p2-header">
            Safeguard Your Organization's Future Today
        </p>
        <p class="s1-header">
            Our commitment to a comprehensive defense strategy ensures resilience against cyber threats, fostering a proactive security stance and empowering organizations to navigate the digital landscape with confidence.
        </p>
    </div>
    <div class="position-absolute bottom-0 start-50 translate-middle-x breadcrumb-bottom-cls " >

        <nav aria-label="breadcrumb" class="align-items-center text-center ">
            <ol class="breadcrumb align-items-center justify-content-center">
                <li class="breadcrumb-item" routerLink="/">
                    <a>Home</a>
                </li>
                <li class="breadcrumb-item" routerLink="/">
                    <a>Cybersecurity</a>
                </li>
                <li class="breadcrumb-item active">
                    <a>Solutions</a>
                </li>
            </ol>
        </nav>
        <svg class="w-full h-auto svg-curve" viewBox="0 0 2880 48" fill="#fff" xmlns="http://www.w3.org/2000/svg">
            <path d="M0 48H1437.5H2880V0H2160C1442.5 52 720 0 720 0H0V48Z" fill="#fff"></path>
        </svg>
    </div>
</section>
<section class="mt-5 section-padding">
    <p class="pg-subheading1">
        Explore how NetSim Solutions sets itself apart through unmatched commitment beyond ordinary defense, continuous excellence encompassing dedication to innovation and client satisfaction, and tailored cybersecurity solutions addressing future challenges uniquely—empowering your digital future with confidence.
    </p>
</section>

<!-- Section 3 -->
<div class="container-fluid pb-5 section-padding mt-5">
    <div class="row align-items-center ">
        <div class="col-lg-6 col-md-12">
            <img src="../../assets/images/CyberS/cyber_left.jpg" class="img-fluid" alt="Image 1">
        </div>
        <div class="col-lg-6 col-md-12 align-items-center">
            <!-- Text section -->
            <h3 class="s2-header">
                Commitment to Excellence!
            </h3>

            <ul class="s2-subheader">
                <li>
                    <strong class="s2-subheader-bold">Seamless Integration:</strong> Integrating technology and expertise for a robust cybersecurity posture.
                </li>
                <li>
                    <strong class="s2-subheader-bold">Proactive Security Culture:</strong> Instilling a culture of readiness beyond vulnerability identification.
                </li>
                <li>
                    <strong class="s2-subheader-bold">Continuous Innovation:</strong> Staying ahead with a commitment to excellence and continuous innovation.
                </li>
                <li>
                    <strong class="s2-subheader-bold">Trusted Satisfaction:</strong> Rooted in client satisfaction, making NetSim the preferred choice.
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- cccc -->


<div class="container-fluid section-padding mt-5">
    <h3 class=" pg-heading1 text-center">
        Empower Your Defense Strategy
    </h3>
    <p class="pg-subheading1 text-center">
        Explore our specialized cybersecurity services, designed to empower your defense strategy, fortify your business against evolving threats, and ensure a resilient digital future with confidence.
    </p>
    <div class="row mt-5">
        <!-- Left side (Button List) -->
        <div class="col-md-5">
            <div class="list-group" id="list-tab" role="tablist">
                <button class="list-group-item list-group-item-action active" id="list-home-list" data-bs-toggle="list"
                    href="#list-home" role="tab" aria-controls="home">01- Strategic Data Governance</button>
                <button class="list-group-item list-group-item-action" id="list-profile-list" data-bs-toggle="list"
                    href="#list-profile" role="tab" aria-controls="profile">02- Human-Centered Analytics & BI</button>
                <button class="list-group-item list-group-item-action" id="list-messages-list" data-bs-toggle="list"
                    href="#list-messages" role="tab" aria-controls="messages">03- Data Strategy Implementation</button>
                <button class="list-group-item list-group-item-action" id="list-settings-list" data-bs-toggle="list"
                    href="#list-settings" role="tab" aria-controls="settings">04- Data Architecture Solutions</button>
                <button class="list-group-item list-group-item-action" id="list-analytics-list" data-bs-toggle="list"
                    href="#list-analytics" role="tab" aria-controls="analytics">05- Collaborative Advanced
                    Analytics</button>
            </div>
        </div>

        <!-- Right side (Content) -->
        <div class="col-md-7">
            <div class="tab-content" id="nav-tabContent">
                <!-- Strategic Data Governance content -->
                <div class="tab-pane fade show active" id="list-home" role="tabpanel" aria-labelledby="list-home-list">
                    <h4 style="font-size: 20px;font-weight: 600;">Harness the power of data governance to unlock
                        actionable insights</h4>
                    <p style="color: #637987;">Ensure the reliability of your data assets.</p>
                    <p style="font-weight: 600;">Solutions Provided:</p>
                    <ul class="s2-subheader">
                        <li>Detection & Response</li>
                        <li>Security Technology Management</li>
                        <li>EDR/XDR Management</li>
                        <li>Attack Surface & Vulnerability Management</li>
                    </ul>
                </div>
                <!-- Human-Centered Analytics content -->
                <div class="tab-pane fade" id="list-profile" role="tabpanel" aria-labelledby="list-profile-list">
                    <h4 style="font-size: 20px;font-weight: 600;">Human-Centered Analytics & Business Intelligence</h4>
                    <p style="color: #637987;">
                        Solutions focused on user-driven analytics and decision-making support systems.
                    </p>
                    <p style="font-weight: 600;">Solutions Provided:</p>
                    <ul class="s2-subheader">
                        <li>Craft data-driven stories with a human-centered design.</li>
                        <li>Create self-service analytic solutions and interactive visualizations for impactful
                            insights.</li>
                    </ul>

                </div>
                <!-- Data Strategy Implementation content -->
                <div class="tab-pane fade" id="list-messages" role="tabpanel" aria-labelledby="list-messages-list">
                    <h4 style="font-size: 20px;font-weight: 600;">
                        Data Strategy Implementation </h4>
                    <p style="color: #637987;">
                        Implementing data strategies that align with your business goals and objectives.
                    </p>
                    <p style="font-weight: 600;">Solutions Provided:</p>
                    <ul class="s2-subheader">
                        <li>
                            Move beyond viewing data as a platform and reports. </li>
                        <li>
                            Build a culture that embraces learning and growth from your organization's data. </li>
                    </ul>

                </div>
                <!-- Data Architecture Solutions content -->
                <div class="tab-pane fade" id="list-settings" role="tabpanel" aria-labelledby="list-settings-list">
                    <h4 style="font-size: 20px;font-weight: 600;">
                        Data Architecture Solutions </h4>
                    <p style="color: #637987;">
                        Building robust data architectures to support your organization's data flow and management. </p>
                    <p style="font-weight: 600;">Solutions Provided:</p>
                    <ul class="s2-subheader">
                        <li>
                            Navigate the ever-changing landscape of cloud technologies. </li>
                        <li>
                            Harness the expertise of NetSim's multi-cloud certified data engineers to tailor
                            solutions for capturing, storing, analyzing, and visualizing your data. </li>
                    </ul>
                </div>
                <!-- Collaborative Advanced Analytics content -->
                <div class="tab-pane fade" id="list-analytics" role="tabpanel" aria-labelledby="list-analytics-list">
                    <h4 style="font-size: 20px;font-weight: 600;">
                        Collaborative Advanced Analytics </h4>
                    <p style="color: #637987;">
                        Leveraging advanced analytics techniques to foster collaboration and innovation. </p>
                    <p style="font-weight: 600;">Solutions Provided:</p>
                    <ul class="s2-subheader">
                        <li>
                            Provide business leaders with access to self-service analytics. </li>
                        <li>
                            Deliver intelligence, tools, and visualizations that articulate compelling stories. </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="container-fluid  section-padding mt-5 text-center">
    <h3 class="pg-header1">
        Secure Today For A Tomorrow
    </h3>
    <p class="pg-subheading1">
        Choose NetSim for cutting-edge cybersecurity testing that transforms weaknesses into strengths, securing your organization against evolving threats.
    </p>
    <div class=" mt-5">
        <div class="row row-cols-1 row-cols-md-4 gy-5">
            <div class="col text-center">
                <div class="hexagon-container text-center">
                    <div class="hexagon">
                        <i class="fa-solid fa-shield"></i>
                    </div>
                </div>

                <h5 class="card-title">
                    Comprehensive Safeguarding
                </h5>
            </div>
            <div class="col text-center">
                <div class="hexagon-container text-center">
                    <div class="hexagon">
                        <i class="fa-solid fa-location-crosshairs"></i>
                    </div>
                </div>

                <h5 class="card-title">
                    Technological Vigilance
                </h5>
            </div>
            <div class="col text-center">
                <div class="hexagon-container text-center">
                    <div class="hexagon">
                        <i class="fa-solid fa-lightbulb"></i>
                    </div>
                </div>

                <h5 class="card-title">
                    Forward-Focused Security
                </h5>
            </div>
            <div class="col text-center">
                <div class="hexagon-container text-center">
                    <div class="hexagon">
                        <i class="fa-solid fa-database"></i>
                    </div>
                </div>

                <h5 class="card-title">
                    Tailored Client Solutions
                </h5>
            </div>

        </div>
    </div>
</div>

<!-- Section 7 -->
<div class="position-relative section-padding s7-card mt-5 ">
    <div class="overlay" style="z-index: 0;"></div> <!-- Overlay div -->
    <div class="position-absolute top-50 start-50 translate-middle text-center" style="width: 76%;">
        <h3 class=" p1-header" style="color: #fff;z-index: 2;">
            Defend Your Digital Frontier!
        </h3>
    </div>
</div>

<!-- Section 6 -->
<div class="position-relative pb-5 section-padding s6-card">
    <div class="position-absolute top-50 start-50 translate-middle text-center" style="width: 76%;">
        <h3 class=" pg-heading1">
            Unlock Cybersecurity Excellence
        </h3>
        <p class="pg-subheading1">
            Explore the roadmap to a fortified digital future and elevate your organization's security strategy with our unparalleled cybersecurity expertise.
        </p>
        <div class="align-items-center" style="margin: auto 0;text-align: center;">
            <button type="button" routerLink="/contactus" class="btn s6-btn">Contact Us</button>
        </div>
    </div>
</div>