.scroll-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #FF1E57 !important;
    color: #fff;
    border: none;
    padding: 4px;
    border-radius: 50%;
    cursor: pointer;
    width: 36px;
    height: 36px;
  }
  