<section class="hero-section d-flex align-items-center"
    style="background-image: url('../../assets/images/mobile_cover.jpg'); background-size: cover; height: 86vh; position: relative;">
    <div class="overlay"></div> <!-- Overlay div -->
    <div class="container-fluid text-center text-white section-padding" style="z-index: 1;">
        <h1 class="p1-header">Digital & Mobile Solutions
        </h1>
        <p class="p2-header">
            Revolutionizing Your Digital Landscape
        </p>
        <p class="s1-header">
            Drive profound digital transformation through captivating consumer experiences across digital marketing,
            e-commerce, and content platforms with NetSim's Cutting-Edge Digital Experience & Mobile Solutions.
        </p>
    </div>
    <div class="position-absolute bottom-0 start-50 translate-middle-x breadcrumb-bottom-cls " >

        <nav aria-label="breadcrumb" class="align-items-center text-center ">
            <ol class="breadcrumb align-items-center justify-content-center">
                <li class="breadcrumb-item" routerLink="/">
                    <a>Home</a>
                </li>
                <li class="breadcrumb-item" routerLink="/our-offering">
                    <a>Our offering</a>
                </li>
                <li class="breadcrumb-item active">
                    <a>Digital & Mobile Solutions</a>
                </li>
            </ol>
        </nav>
        <svg class="w-full h-auto svg-curve" viewBox="0 0 2880 48" fill="#fff" xmlns="http://www.w3.org/2000/svg">
            <path d="M0 48H1437.5H2880V0H2160C1442.5 52 720 0 720 0H0V48Z" fill="#fff"></path>
        </svg>
    </div>
</section>
<section class="mt-5 section-padding">
    <p class="pg-subheading1">
        Embark on a journey of creating stunning digital experiences with NetSim's design and build methodology. Our
        approach ensures that the vision your business is passionate about is grounded in technical feasibility,
        fostering deep connections with customers and delivering real-time results across web, mobile, and emerging
        technologies.
    </p>
</section>
<!-- section 2 -->
<div class="container-fluid pb-5 section-padding">
    <h3 class="p2-header">
        Amplify Your Digital Presence, Elevate Customer Engagement
    </h3>

    <div class=" mt-5">
        <div class="row row-cols-1 row-cols-md-4 gy-5">
            <div class="col p-0">
                <div class="card-padding-cls">
                    <div class="card h-100 text-center shadow ">
                        <div class="card-body">
                            <div class="hexagon-container text-center">
                                <div class="hexagon">
                                    <i class="fas fa-location"></i>
                                    <!-- Replace this with your desired Font Awesome icon -->
                                </div>
                            </div>

                            <h5 class="card-title">Strategic Digital Platforms
                            </h5>
                            <ul class="sub-list-cls">
                                <li>
                                    Initiate our process with meticulous research tailored to client needs.
                                </li>
                                <li>
                                    Analyze existing platforms or create seamlessly integrated brand new platforms.
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col p-0">
                <div class="card-padding-cls">
                    <div class="card h-100 text-center shadow ">
                        <div class="card-body">
                            <div class="hexagon-container text-center">
                                <div class="hexagon">
                                    <i class="fa-regular fa-lightbulb"></i>
                                </div>
                            </div>

                            <h5 class="card-title">
                                Innovative Digital Strategies
                            </h5>
                            <ul class="sub-list-cls">
                                <li>
                                    Transform your ideas into innovative solutions.
                                </li>
                                <li>
                                    Create a unified experience across various digital channels.
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col p-0">
                <div class="card-padding-cls">
                    <div class="card h-100 text-center shadow ">
                        <div class="card-body">
                            <div class="hexagon-container text-center">
                                <div class="hexagon">
                                    <i class="fa-solid fa-mobile-screen-button"></i>
                                    <!-- Replace this with your desired Font Awesome icon -->
                                </div>
                            </div>

                            <h5 class="card-title">
                                Comprehensive Mobile Engineering Support
                            </h5>
                            <ul class="sub-list-cls">
                                <li>
                                    Facilitate the development of mobile applications for native iOS and Android
                                    platforms.
                                </li>
                                <li>
                                    Utilize cross-platform frameworks for versatile web and mobile apps.
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col p-0">
                <div class="card-padding-cls">
                    <div class="card h-100 text-center shadow ">
                        <div class="card-body">
                            <div class="hexagon-container text-center">
                                <div class="hexagon">
                                    <i class="fa-solid fa-database"></i>
                                </div>
                            </div>

                            <h5 class="card-title">
                                Engagement-Focused Product Design & Planning
                            </h5>
                            <ul class="sub-list-cls">
                                <li>
                                    Deepen customer engagement and achieve results across digital channels.

                                </li>
                                <li>
                                    Execute meticulous product design and planning strategies for impactful outcomes.
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<!-- Section 3 -->
<div class="container-fluid pb-5 section-padding mt-5">
    <div class="row align-items-center ">
        <div class="col-lg-6 col-md-12">
            <!-- Image section -->
            <div class="row">
                <div class="col-12 mb-3">
                    <img src="../../assets/images/aboutus_31.png" class="img-fluid" alt="Image 1">
                </div>

            </div>
        </div>
        <div class="col-lg-6 col-md-12 align-items-center">
            <!-- Text section -->
            <h3 class="s2-header">
                Empower Your Teams with Advanced Digital Solutions
            </h3>
            <h3 class="s2-header2">
                Crafting Exquisite Digital Journeys
            </h3>
            <ul class="s2-subheader">
                <li>
                    Whether you need a new digital platform or seek to enhance your existing experience, NetSim's
                    proven track record of successful product launches provides your team with the knowledge base to
                    rise above the competition. Ensure seamless delivery and alignment with your product planning and
                    business goals. Experience the future of digital innovation with NetSim—where creativity meets
                    technology.
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="container-fluid  section-padding">

    <div class=" mt-5">
        <div class="row">
            <div class="col-12 text-center">
                <h3 class=" pg-heading1">
                    Transforming the Digital Frontier
                </h3>
                <p class="pg-subheading1">
                    Propel your digital transformation with captivating consumer experiences across digital marketing,
                    e-commerce, and content platforms. Set new standards for innovation and engagement in the digital.

                </p>
            </div>
        </div>
        <div class="row row-cols-1 row-cols-md-4 gy-5 mt-3">
            <div class="col text-center">
                <div class="hexagon-container text-center">
                    <div class="hexagon">
                        <i class="fa-regular fa-lightbulb"></i>
                    </div>
                </div>

                <h5 class="card-title">Digital Innovation
                </h5>
            </div>
            <div class="col text-center">
                <div class="hexagon-container text-center">
                    <div class="hexagon">
                        <i class="fa-solid fa-mobile-screen-button"></i>
                    </div>
                </div>

                <h5 class="card-title">Mobile Integration
                </h5>
            </div>
            <div class="col text-center">
                <div class="hexagon-container text-center">
                    <div class="hexagon">
                        <i class="fa-solid fa-rocket"></i>
                    </div>
                </div>

                <h5 class="card-title">Creative Solutions
                </h5>
            </div>
            <div class="col text-center">
                <div class="hexagon-container text-center">
                    <div class="hexagon">
                        <i class="fa-solid fa-users"></i>
                    </div>
                </div>

                <h5 class="card-title">Customer Engagement
                </h5>
            </div>

        </div>
    </div>
</div>

<!-- Section 7 -->
<div class="position-relative section-padding s7-card mt-5 ">
    <div class="overlay" style="z-index: 0;"></div> <!-- Overlay div -->
    <div class="position-absolute top-50 start-50 translate-middle text-center" style="width: 76%;">
        <h3 class=" p1-header" style="color: #fff;z-index: 2;">
            Elevating Digital Experiences for Tomorrow
        </h3>
    </div>
</div>

<!-- Section 6 -->
<div class="position-relative pb-5 section-padding s6-card">
    <div class="position-absolute top-50 start-50 translate-middle text-center" style="width: 76%;">
        <h3 class=" pg-heading1">
            Mobility-Centric Solutions
        </h3>
        <p class="pg-subheading1">
            Revolutionize your digital landscape with innovative mobile solutions customized to your business
            requirements. Embrace the transformative prowess of NetSim's expertise in digital and mobile
            technologies.
        </p>
        <div class="align-items-center" style="margin: auto 0;text-align: center;">
            <button type="button" routerLink="/contactus" class="btn s6-btn">Contact Us</button>
        </div>
    </div>
</div>