<section class="hero-section d-flex align-items-center"
    style="background-image: url('../../assets/images/cloud_cover.jpg'); background-size: cover; height: 86vh; position: relative;">
    <div class="overlay"></div> <!-- Overlay div -->
    <div class="container-fluid text-center text-white section-padding" style="z-index: 1;">
        <h1 class="p1-header">
            Cloud Platforms
        </h1>
        <p class="p2-header">
            Revolutionize Your Cloud Experience
        </p>
        <p class="s1-header">
            Unlock unparalleled scalability, stability, and efficiency in the cloud with Netsim Inc's Dynamic
            Operations.
        </p>
    </div>
    <div class="position-absolute bottom-0 start-50 translate-middle-x breadcrumb-bottom-cls " >

        <nav aria-label="breadcrumb" class="align-items-center text-center ">
            <ol class="breadcrumb align-items-center justify-content-center">
                <li class="breadcrumb-item" routerLink="/">
                    <a>Home</a>
                </li>
                <li class="breadcrumb-item" routerLink="/our-offering">
                    <a>Our offering</a>
                </li>
                <li class="breadcrumb-item active">
                    <a>Cloud Platforms</a>
                </li>
            </ol>
        </nav>
        <svg class="w-full h-auto svg-curve" viewBox="0 0 2880 48" fill="#fff" xmlns="http://www.w3.org/2000/svg">
            <path d="M0 48H1437.5H2880V0H2160C1442.5 52 720 0 720 0H0V48Z" fill="#fff"></path>
        </svg>
    </div>
</section>
<section class="mt-5 section-padding ">
    <p class="pg-subheading1" style="text-align: left;">
        Take a leap into the future of cloud operations with Netsim Inc. Our cloud-agnostic approach propels your
        business forward in the competitive landscape, embracing modern infrastructure and operations.
    </p>
    <p class="pg-subheading1" style="text-align: left;">
        Innovate faster, gain visibility across all cloud platforms and on-premise solutions, and streamline your
        processes through continuous, automated governance, risk management, and compliance.
    </p>
</section>

<!-- Section 3 -->
<div class="container-fluid pb-5 section-padding mt-5">
    <div class="row align-items-center ">
        <div class="col-lg-6 col-md-12">
            <img src="../../assets/images/cloud_b.jpg" class="img-fluid" alt="Image 1">
        </div>
        <div class="col-lg-6 col-md-12 align-items-center">
            <!-- Text section -->
            <h3 class="s2-header">
                Accelerating Innovation with Cloud Technology
            </h3>
            <p class="s2-header2">
                In the execution and migration of applications, cloud architecture, and strategy play pivotal roles.
                Netsim Inc empowers businesses to:

            </p>
            <ul class="s2-subheader">
                <li>
                    Analyze optimal cloud-compatible applications.

                </li>
                <li>
                    Seamlessly migrate applications to the cloud.

                </li>
                <li>
                    Re-tool applications for optimal cloud performance.

                </li>
                <li>
                    Develop organizational structures supporting cloud integration.

                </li>
                <li>
                    Understand the impact of the cloud on operations and support processes.
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- cccc -->

<!-- section 2 -->
<div class="container-fluid pb-5 section-padding mt-5">
    <h3 class="p2-header">
        Tailored Solutions for Your Unique Cloud Journey
    </h3>
    <p class="pg-subheading1">No matter where you are on your cloud journey, Netsim Inc stands ready to assist you.

    </p>

    <div class=" mt-5">
        <div class="row row-cols-1 row-cols-md-4 gy-5">
            <div class="col-md-4">
                <div class="card-padding-cls">
                    <div class="card h-100 text-center shadow ">
                        <div class="card-body">
                            <div class="hexagon-container text-center">
                                <div class="hexagon">
                                    <i class="fa-solid fa-cloud-arrow-up"></i>
                                    <!-- Replace this with your desired Font Awesome icon -->
                                </div>
                            </div>

                            <h5 class="card-title">Accelerated Cloud Migration
                            </h5>
                            <ul class="sub-list-cls">
                                <li>
                                    Propel your journey to the cloud with our proven processes.
                                </li>
                                <li>
                                    Focus on evolving your team for seamless migration and adoption.
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-md-4 ">
                <div class="card-padding-cls">
                    <div class="card h-100 text-center shadow ">
                        <div class="card-body">
                            <div class="hexagon-container text-center">
                                <div class="hexagon">
                                    <i class="fa-solid fa-rocket"></i>
                                </div>
                            </div>

                            <h5 class="card-title">
                                Innovative Cloud Architecture Strategies
                            </h5>
                            <ul class="sub-list-cls">
                                <li>
                                    Explore strategies enhancing agility during the transition from large capital
                                    expenditures.
                                </li>
                                <li>
                                    Embrace consistent operational outlays for sustainable cloud solutions.
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-md-4">
                <div class="card-padding-cls">
                    <div class="card h-100 text-center shadow ">
                        <div class="card-body">
                            <div class="hexagon-container text-center">
                                <div class="hexagon">
                                    <i class="fa-solid fa-location"></i>
                                    <!-- Replace this with your desired Font Awesome icon -->
                                </div>
                            </div>

                            <h5 class="card-title">
                                Hyperautomation for Business Agility
                            </h5>
                            <ul class="sub-list-cls">
                                <li>
                                    Boost the speed, agility, and effectiveness of your application teams.
                                </li>
                                <li>
                                    Ensure prompt delivery on business commitments through advanced hyperautomation.
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>



<!-- 4444 -->
<div class="container-fluid  section-padding">

    <div class=" mt-5">
        <div class="row">
            <div class="col-12 text-center">
                <h3 class=" pg-heading1">
                    Robust Platforms for Stability and Efficiency
                </h3>
                <p class="pg-subheading1">
                    Harness stability and efficiency in the cloudscape with expertly designed and implemented cloud
                    platforms. Our DevSecOps pipelines ensure robustness, security, and compliance, enhancing
                    scalability and operational efficiency.

                </p>
            </div>
        </div>
        <div class="row row-cols-1 row-cols-md-4 gy-5 mt-3">
            <div class="col text-center">
                <div class="hexagon-container text-center">
                    <div class="hexagon">
                        <i class="fa-solid fa-database"></i>
                    </div>
                </div>

                <h5 class="card-title">
                    Scalability Solutions
                </h5>
            </div>
            <div class="col text-center">
                <div class="hexagon-container text-center">
                    <div class="hexagon">
                        <i class="fa-solid fa-cloud-arrow-up"></i>
                    </div>
                </div>

                <h5 class="card-title">
                    Cloud Innovation
                </h5>
            </div>
            <div class="col text-center">
                <div class="hexagon-container text-center">
                    <div class="hexagon">
                        <i class="fa-solid fa-rocket"></i>
                    </div>
                </div>

                <h5 class="card-title">
                    Platform Optimization

                </h5>
            </div>
            <div class="col text-center">
                <div class="hexagon-container text-center">
                    <div class="hexagon">
                        <i class="fa-solid fa-location-crosshairs"></i>
                    </div>
                </div>

                <h5 class="card-title">
                    Business Agility
                </h5>
            </div>

        </div>
    </div>
</div>

<!-- Section 7 -->
<div class="position-relative section-padding s7-card mt-5 ">
    <div class="overlay" style="z-index: 0;"></div> <!-- Overlay div -->
    <div class="position-absolute top-50 start-50 translate-middle text-center" style="width: 76%;">
        <h3 class=" p1-header" style="color: #fff;z-index: 2;">
            Cloud Excellence Redefined
        </h3>
    </div>
</div>

<!-- Section 6 -->
<div class="position-relative pb-5 section-padding s6-card">
    <div class="position-absolute top-50 start-50 translate-middle text-center" style="width: 76%;">
        <h3 class=" pg-heading1">
            Harness Stability and Efficiency in the Cloudscape
        </h3>
        <p class="pg-subheading1">
            Our DevSecOps pipelines ensure robustness, security, and compliance, enhancing scalability and operational
            efficiency.
        </p>
        <div class="align-items-center" style="margin: auto 0;text-align: center;">
            <button type="button" routerLink="/contactus" class="btn s6-btn">Contact Us</button>
        </div>
    </div>
</div>