<section class="hero-section d-flex align-items-center"
    style="background-image: url('../../assets/images/contact_us_header.jpg'); background-size: cover; height: 86vh; position: relative;">
    <div class="overlay"></div> <!-- Overlay div -->
    <div class="container-fluid text-center text-white section-padding " style="z-index: 1;">
        <h1 class="p1-header w36rem mx-auto">We're excited to hear from you!</h1>
        <p class="s1-header w36rem mx-auto">Welcome to the Gateway of Possibilities!
            At Netsim Inc, we believe in the extraordinary power of connections. We're not just consultants and recruiters- we're catalysts of success, dreamers of big ideas, and partners in your journey towards greatness.
            
            </p>
           
              <div class="position-absolute bottom-0 start-50 translate-middle-x" style="padding-bottom: 8px;">
               
                  <nav aria-label="breadcrumb" class="align-items-center">
                    <ol class="breadcrumb align-items-center">
                      <li class="breadcrumb-item" routerLink="/">
                        <a>Home</a>
                      </li>
                      <li class="breadcrumb-item active">
                        <a >Contact Us</a>
                      </li>
                    </ol>
                  </nav>
                  
              </div>
    </div>
</section>
<section class="position-relative section-padding mt-5">
    <div class="row">
        <div class="col p-0">
            <div class="card-padding-cls">
                <div class="card h-100 text-center  ">
                    <div class="card-body">
                        <div class="hexagon-container text-center">
                            <div class="hexagon">
                                <i class="fas fa-phone"></i>
                                <!-- Replace this with your desired Font Awesome icon -->
                            </div>
                        </div>
                        <h5 class="card-title">Phone
                        </h5>
                        <p class="card-text s1-clr">
                            Don't hesitate to give us a call. We're excited to chat with you and bring your goals to life!
                        </p>
                        <p class="p1-clr">
                            9876543210
                        </p>
                    </div>
                </div>
            </div>

        </div>
        <div class="col p-0">
            <div class="card-padding-cls">
                <div class="card h-100 text-center  ">
                    <div class="card-body">
                        <div class="hexagon-container text-center">
                            <div class="hexagon">
                                <i class="fas fa-envelope"></i>
                                <!-- Replace this with your desired Font Awesome icon -->
                            </div>
                        </div>
                        <h5 class="card-title">Email
                        </h5>
                        <p class="card-text s1-clr">
                            Feel free to drop us a line whenever you're ready to kickstart your consulting and recruiting journey.
                        </p>
                        <p class="p1-clr">
                            customercare&#64;netsiminc.com
                        </p>
                    </div>
                </div>
            </div>

        </div>
        <div class="col p-0">
            <div class="card-padding-cls">
                <div class="card h-100 text-center  ">
                    <div class="card-body">
                        <div class="hexagon-container text-center">
                            <div class="hexagon">
                                <i class="fas fa-location"></i>
                                <!-- Replace this with your desired Font Awesome icon -->
                            </div>
                        </div>
                        <h5 class="card-title">Location
                        </h5>
                        <p class="card-text s1-clr">
                            Kirkland, WA and Houston, TX
                        </p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
<!-- Form  -->
<section class="position-relative section-padding container-fluid">
    <div class="row align-items-center">
        <div class="col-md-7">
            <img src="../../assets/images/contact.svg" class="img-fluid" alt="Image 3">
        </div>
        <div class="col-md-5">
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Your Question:</label>
                <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Subject:">
              </div>
              <div class="mb-3">
                <label for="exampleFormControlTextarea1" class="form-label">Your Comment:</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" placeholder="Message:" rows="3"></textarea>
              </div>
              <button type="button" class="btn p1-btn">Send Message</button>

        </div>
    </div>
</section>
<!-- Section 7 -->
<div class="position-relative section-padding s7-card mt-5">
    <div class="overlay" style="z-index: 0;"></div> <!-- Overlay div -->
    <div class="position-absolute top-50 start-50 translate-middle text-center" style="width: 76%;">
        <h3 class=" p1-header" style="color: #fff;z-index: 2;">Let's make magic happen!
        </h3>
    </div>
</div>

<section class="mt-5 pb-5 section-padding align-items-center text-center">
    <p class="pg-subheading1 mx-auto w36rem" >
        Whether you're seeking consulting expertise or recruiting support, we're here to make it a truly memorable and successful experience. Get in touch with us today and let's get started!
    </p>
</section>
