<section class="hero-section d-flex align-items-center"
    style="background-image: url('../../assets/images/AI/ai_opportunity_header.jpg'); background-size: cover; height: 86vh; position: relative;">
    <div class="overlay"></div> <!-- Overlay div -->
    <div class="container-fluid text-center text-white section-padding" style="z-index: 1;">
        <h1 class="p1-header">
            The Opportunity
        </h1>
        <p class="p2-header">
            Seize AI-Driven Growth
        </p>
        <p class="s1-header">
            Unlock transformative potential in your business by harnessing the power of AI. NetSim's solutions turn
            complex challenges into scalable opportunities.
        </p>
    </div>
    <div class="position-absolute bottom-0 start-50 translate-middle-x breadcrumb-bottom-cls ">

        <nav aria-label="breadcrumb" class="align-items-center text-center ">
            <ol class="breadcrumb align-items-center justify-content-center">
                <li class="breadcrumb-item" routerLink="/">
                    <a>Home</a>
                </li>
                <li class="breadcrumb-item" routerLink="/ai-home">
                    AI Solutions
                </li>
                <li class="breadcrumb-item active">
                    <a>Opportunity and challenges</a>
                </li>
            </ol>
        </nav>
        <svg class="w-full h-auto svg-curve" viewBox="0 0 2880 48" fill="#fff" xmlns="http://www.w3.org/2000/svg">
            <path d="M0 48H1437.5H2880V0H2160C1442.5 52 720 0 720 0H0V48Z" fill="#fff"></path>
        </svg>
    </div>
</section>
<section class="mt-5 section-padding">
    <p class="pg-subheading1">
        As AI continues to revolutionize industries, businesses that harness its potential stand to gain a significant
        competitive edge. Explore the key factors driving the AI revolution and understand why now is the perfect time
        to invest in AI-driven solutions.

    </p>
    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
            <div class="card h-100 text-center shadow">
                <div class="card-body">
                    <div class="rectangle-container text-center">
                        <div class="rectangle">
                            <i class="fas fa-diagram-project"></i>
                            <!-- Replace this with your desired Font Awesome icon -->
                        </div>
                    </div>

                    <h5 class="card-title s4-subheader">Market Potential
                    </h5>
                    <p class="card-text s1-clr">
                        The global AI market is currently valued at over USD 196 billion and is projected to hit
                        approximately USD 1,811.8 billion by 2030, with a robust 38.1% compound annual growth rate
                        (CAGR) (Grand View Research).

                    </p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100 text-center shadow">

                <div class="card-body mt-2">
                    <div class="rectangle-container text-center">
                        <div class="rectangle">
                            <i class="fas fa-rocket"></i> <!-- Replace this with your desired Font Awesome icon -->
                        </div>
                    </div>

                    <h5 class="card-title s4-subheader">Adoption Rates
                    </h5>
                    <p class="card-text s1-clr">
                        Approximately 60% of businesses have already adopted AI, with an additional 30% planning to
                        implement AI within the next two years.

                    </p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100 text-center shadow">
                <div class="card-body">
                    <div class="rectangle-container text-center">
                        <div class="rectangle">
                            <i class="fas fa-location-crosshairs"></i> <!-- Replace this with your desired Font Awesome icon -->
                        </div>
                    </div>

                    <h5 class="card-title s4-subheader">Consumer Trends
                    </h5>
                    <p class="card-text s1-clr">
                        70% of consumers prefer businesses that offer AI-enhanced experiences, indicating a significant
                        demand for AI-driven solutions.

                    </p>
                </div>
            </div>
        </div>
    </div>
    
</section>

<!-- Section 3 -->
<div class="container-fluid pb-5 section-padding mt-5">
    <div class="row align-items-center ">
        <div class="col-lg-6 col-md-12">
            <!-- Image section -->
            <div class="row">
                <div class="col-12 mb-3">
                    <img src="../../assets/images/CyberS/assessments_left.jpg" class="img-fluid" alt="Image 1">
                </div>

            </div>
        </div>
        <div class="col-lg-6 col-md-12 align-items-center">
            <!-- Text section -->
            <h3 class="s2-header">
                Navigate Industry Disruption
            </h3>
            <ul class="s2-subheader">
                <li>
                    In a rapidly evolving landscape, businesses must adapt or risk being left behind. NetSim equips you to tackle industry challenges head-on with cutting-edge AI technologies.


                </li>

            </ul>
            <h3 class="s2-header">
                Empower Decision-Making
            </h3>
            <ul class="s2-subheader">
                <li>
                    Make data-driven decisions with confidence. NetSim's AI solutions provide real-time insights, helping you stay ahead of the curve and respond to market shifts effectively.
                </li>
            </ul>
            <!--  -->
            <h3 class="s2-header">
                Transform Challenges into Opportunities
            </h3>
            <ul class="s2-subheader">
                <li>
                    Turn obstacles into growth avenues by leveraging AI. NetSim's expertise helps you identify hidden opportunities and optimize your operations for sustained success.
                </li>
            </ul>
            
        </div>
    </div>
</div>
<!-- cccc -->
 <section class="container-fluid pb-5 section-padding mt-5">
    <h3 class="pg-header1">
        Navigating AI Challenges with Strategic Solutions
    </h3>
   
    <div class="row row-cols-1 row-cols-md-3 g-4 mt-5">
        <div class="col-md-3 ">
            <div class="card h-100 text-center shadow">
                <div class="card-body">
                    <div class="circle-container text-center">
                        <div class="circle">
                            <i class="fas fa-database"></i>
                            <!-- Replace this with your desired Font Awesome icon -->
                        </div>
                    </div>

                    <h5 class="card-title s4-subheader">Data Integration and Quality
                    </h5>
                    <ul class="sub-list-cls">
                        <li>
                            Leverage over 25 years of experience to implement cutting-edge technology solutions and drive digital transformation.
                        </li>
                        <li>
                            Tailor technologies to your business needs for enhanced efficiency and productivity.
                        </li>
                      </ul>
                </div>
            </div>
        </div>
        <div class="col-md-3 ">
            <div class="card h-100 text-center shadow">

                <div class="card-body mt-2">
                    <div class="circle-container text-center">
                        <div class="circle">
                            <i class="fas fa-gear"></i> <!-- Replace this with your desired Font Awesome icon -->
                        </div>
                    </div>

                    <h5 class="card-title s4-subheader">Customization and Optimization
                    </h5>
                    <ul class="sub-list-cls">
                        <li>
                            Utilize advanced technology for transparent processes and operations, enhancing efficiency and productivity.
                        </li>
                        <li>
                            Benefit from automated systems and data-driven insights to streamline operations.
                        </li>
                      </ul>
                </div>
            </div>
        </div>
        <div class="col-md-3 ">
            <div class="card h-100 text-center shadow">
                <div class="card-body">
                    <div class="circle-container text-center">
                        <div class="circle">
                            <i class="fas fa-handshake"></i> <!-- Replace this with your desired Font Awesome icon -->
                        </div>
                    </div>

                    <h5 class="card-title s4-subheader">Compliance and Risk Management

                    </h5>
                    <ul class="sub-list-cls">
                        <li>
                            Promote diversity and inclusivity in the workplace through technology solutions.
                        </li>
                        <li>
                            Provide tools and platforms for accessibility and accommodation, fostering a supportive environment for all employees.
                        </li>
                      </ul>
                   
                </div>
            </div>
        </div>
        
        <div class="col-md-3 ">
            <div class="card h-100 text-center shadow">
                <div class="card-body">
                    <div class="circle-container text-center">
                        <div class="circle">
                            <i class="fas fa-user-group"></i> <!-- Replace this with your desired Font Awesome icon -->
                        </div>
                    </div>

                    <h5 class="card-title s4-subheader">Talent Management

                    </h5>
                    <ul class="sub-list-cls">
                        <li>
                            Position your business for success in the digital age with technology-driven solutions.
                        </li>
                        <li>
                            Implement innovative technology strategies to stay ahead of the competition.
                        </li>
                      </ul>
                </div>
            </div>
        </div>
    </div>
 </section>
<div class="container-fluid  section-padding mt-5 text-center">
    <h3 class="pg-header1">
        Empower Your Business with AI Excellence
    </h3>
    <p class="pg-subheading1">
        Harness the power of AI to overcome challenges and drive innovation. Our tailored AI solutions are crafted to
        optimize your operations, enhance productivity, and empower data-driven decision-making, ensuring your business
        stays ahead in a rapidly evolving landscape.
    </p>
    <div class=" mt-5">
        <div class="row row-cols-1 row-cols-md-4 gy-5">
            <div class="col text-center">
                <div class="rectangle-container text-center">
                    <div class="rectangle">
                        <i class="fa-solid fa-location-crosshairs"></i>
                    </div>
                </div>

                <h5 class="card-title">
                    AI Strategy Development
                </h5>
            </div>
            <div class="col text-center">
                <div class="rectangle-container text-center">
                    <div class="rectangle">
                        <i class="fa-solid fa-rocket"></i>
                    </div>
                </div>

                <h5 class="card-title">
                    Seamless Integration
                </h5>
            </div>
            <div class="col text-center">
                <div class="rectangle-container text-center">
                    <div class="rectangle">
                        <i class="fa-solid fa-chart-column"></i>
                    </div>
                </div>

                <h5 class="card-title">
                    Data-Driven Insights
                </h5>
            </div>
            <div class="col text-center">
                <div class="rectangle-container text-center">
                    <div class="rectangle">
                        <i class="fa-solid fa-lightbulb"></i>
                    </div>
                </div>

                <h5 class="card-title">
                    Innovative Solutions
                </h5>
            </div>

        </div>
    </div>
</div>

<!-- Section 7 -->
<div class="position-relative section-padding s7-card mt-5 ">
    <div class="overlay" style="z-index: 0;"></div> <!-- Overlay div -->
    <div class="position-absolute top-50 start-50 translate-middle text-center" style="width: 76%;">
        <h3 class=" p1-header" style="color: #fff;z-index: 2;">
            Defend Your Digital Frontier!
        </h3>
    </div>
</div>

<!-- Section 6 -->
<div class="position-relative pb-5 section-padding s6-card">
    <div class="position-absolute top-50 start-50 translate-middle text-center" style="width: 76%;">
        <h3 class=" pg-heading1">
            Unlock Cybersecurity Excellence
        </h3>
        <p class="pg-subheading1">
            Explore the roadmap to a fortified digital future and elevate your organization's security strategy with our
            unparalleled cybersecurity expertise.

        </p>
        <div class="align-items-center" style="margin: auto 0;text-align: center;">
            <button type="button" routerLink="/contactus" class="btn s6-btn">Contact Us</button>
        </div>
    </div>
</div>