
.carousel-item {
    height: 57vh;
}
.s6-card{
    background-color: #f6f6fe;
    height: 340px;
}

$animationSpeed: 40s;

@keyframes scroll {
	0% { transform: translateX(0); }
	100% { transform: translateX(calc(-250px * 7))}
}

.slider {
	height: 100px;
	margin: auto;
	overflow:hidden;
	position: relative;
	width: auto;
	
	.slide-track {
		animation: scroll $animationSpeed linear infinite;
		display: flex;
		width: calc(250px * 14);
	}
	.slide {
		height: 100px;
		width: 250px;
	}
}
.s7-card{
    height: 340px;
    background: url(../../assets/images/home_bottom.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #0A3348 !important;
    opacity: 0.8;
    z-index: 1; /* Ensure it’s above the image but below the caption */
}
.s6-btn{
    background-color: #FF1E57 !important;
    color: #fff !important;
    height: 40px;
    width: 154px;
    text-transform: uppercase;
    font-size: 13px;
}
.card-text{color: #0A3348;line-height: 1.5;}
.card-title{
    text-align: center;
    text-transform: uppercase;
    font-size: 1.25rem;
    font-weight: 700 !important;
    color: #0A3348;
}
.carousel-caption {
    position: absolute;
    top: 50%; /* Center vertically */
    left: 50%; /* Center horizontally */
    transform: translate(-50%, -25%); /* Adjust for the element's width/height */
    text-align: center; /* Center text */
    z-index: 2;
    width: 100%;
}
.crsl-heading{
    font-weight: 700;
    line-height: 1.5;
    font-size: 2.25rem;
    text-transform: uppercase;
}
.pg-heading1{
    line-height: 1.5;
    font-size: 1.875rem;
    font-weight: 600;
    text-align: center;
    color: #0A3348;

}
.pg-subheading1{
    line-height: 1.5;
    font-size: 1.25rem;
    font-weight: 400;
    text-align: center;
    color: #637987;

}
.crsl-subheading{
    font-size: 1.25rem;
}
.carousel-control-prev,.carousel-control-next{
    z-index: 3;
}
.sub-list-cls{
    margin: 0;padding: 0 16px;
}
.sub-list-cls li{
    color: #637987;
}
.card-padding-cls{
    padding: 0 8px;
    display: flex;
        flex-direction: column;
        height: 100%;   
}
.card {
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  }
  
  .card:hover {
    transform: translateY(-10px);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  }
  
  .card:active {
    transform: scale(0.98);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  }
  .s2-header{
    color: #FF1E57 !important;
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 1.5;
}
.s2-subheader{
    padding: 0 16px;
    color: #637987;
    line-height: 1.5;
}
.s2-subheader li{
    padding-bottom: 8px;
}
.s2-subheader-bold{
    color: #0A3348;
}
.s4-subheader{
    font-size: 18px !important;
font-weight: 500 !important;
}
.s8-subheader{
    font-weight: 500 !important;
    text-transform: capitalize;
}
.s8-subheader:hover{
    color: #FF1E57;
    cursor: pointer;
}
.base-color-cls{
    color: #FF1E57;
}
a{
    text-decoration: none;
    cursor: pointer;
}
a:hover{color: #0A3348;}
 
.s8-citem{
    height: auto !important;

}
.s8-citem .card:hover {
    transform: none !important;
    box-shadow: none !important;
  }
 .s8-btns{
    background-color: #FF1E57 !important;
    color: #fff;
    width: 36px;
    height: 36px;
 }

@media (min-width: 992px) { /* Target large screens */
    .carousel-item {
        height: 86vh !important;
    }
     
    .s8-citem{
        height: 320px !important;
       
    }
    .s8-citem .card{
       min-height: 320px;
    }
  }
  @media (max-width:991px) {
    .carousel-caption {
        padding: 0 16px ;
        transform: translate(-50%, -40%); /* Adjust for the element's width/height */
    }
    .crsl-heading{
        font-size: 21px;
    }
    .crsl-subheading{
        font-size: 16px;
    }
    .carousel-item img{
        object-fit:cover;
        width: auto;
        height: 57vh;
        background-size:contain;
        background-position: center;
        background-repeat: no-repeat;
      
    }    
    
  }