<!-- Section1 -->
<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
      aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3" aria-label="Slide 4"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="4" aria-label="Slide 5"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="5" aria-label="Slide 6"></button>

  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="overlay"></div> <!-- Overlay div -->
      <img src="../assets/images/7.jpg" class="d-block w-100" alt="...">
      <div class="carousel-caption d-block">

        <h5 class="crsl-heading">Explore Netsim Inc's Cutting-Edge AI Solutions</h5>
        <p class="crsl-subheading">
          Unlock the Future with AI:
          Tap into the $1.8 Trillion AI Market
        </p>
      </div>
    </div>
    <div class="carousel-item ">
      <div class="overlay"></div> <!-- Overlay div -->
      <img src="../assets/images/1.jpg" class="d-block w-100" alt="...">
      <div class="carousel-caption d-block">
        <h5 class="crsl-heading">PROTECT YOUR FUTURE WITH NETSIM INC'S CYBERSECURITY</h5>
        <p class="crsl-subheading">
          Safeguard your organization against cyber threats with Netsim Inc's comprehensive solutions. Stay proactive!
        </p>
      </div>
    </div>
    <div class="carousel-item ">
      <div class="overlay"></div> <!-- Overlay div -->
      <img src="../assets/images/3.jpg" class="d-block w-100" alt="...">
      <div class="carousel-caption d-block">
        <h5 class="crsl-heading">YOUR LOCAL TALENT STRATEGIC PARTNER</h5>
        <p class="crsl-subheading">Navigate to success with Netsim Inc—your strategic partner for local talent, offering
          tailored solutions and guidance.</p>
      </div>
    </div>
    <div class="carousel-item ">
      <div class="overlay"></div> <!-- Overlay div -->
      <img src="../assets/images/4.jpg" class="d-block w-100" alt="...">
      <div class="carousel-caption d-block">
        <h5 class="crsl-heading">EXPERIENCE EXCELLENCE WITH OUR OFFSHORE SENIOR ENGINEERS!</h5>
        <p class="crsl-subheading">
          Unlock a special rate ranging from $45 to $65 per hour and discover the difference for free.
        </p>
      </div>
    </div>
    <div class="carousel-item ">
      <div class="overlay"></div> <!-- Overlay div -->
      <img src="../assets/images/5.jpg" class="d-block w-100" alt="...">
      <div class="carousel-caption d-block">
        <h5 class="crsl-heading">NETSIM FOR BUSINESS SUCCESS</h5>
        <p class="crsl-subheading">
          "Strength lies in differences." - Stephen Covey. Embrace diversity to drive innovation and elevate
          performance.
        </p>
      </div>
    </div>
    <div class="carousel-item ">
      <div class="overlay"></div> <!-- Overlay div -->
      <img src="../assets/images/6.jpg" class="d-block w-100" alt="...">
      <div class="carousel-caption d-block">
        <h5 class="crsl-heading">UNLOCKING TRANSPARENCY IN RECRUITING</h5>
        <p class="crsl-subheading">
          At Netsim Inc, transparency is key. We prioritize open communication, clear processes, and honest
          partnerships.
        </p>
      </div>
    </div>

  </div>
  <button class="carousel-control-prev d-none d-md-block" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next d-none d-md-block" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<!-- Section 2 -->
<div class="container-fluid mt-5 pb-5 section-padding">
  <h3 class=" pg-heading1"> Netsim Inc Consulting <br> Driving Workforce Transformation Through Innovation
  </h3>
  <p class="pg-subheading1">For over 25 years, Netsim Inc Consulting has been at the forefront of redefining industry
    standards. Our commitment to innovation and client satisfaction has propelled us forward in our journey to drive
    workforce transformation. With a legacy spanning more than two decades, we've consistently delivered exceptional
    results across diverse sectors.
  </p>
  <div class=" mt-5">
    <div class="row row-cols-1 row-cols-md-4 gy-5">
      <div class="col p-0">
        <div class="card-padding-cls">
          <div class="card h-100 shadow ">
            <img src="../assets/images/ai_service.jpg" class="card-img-top" alt="AI Solutions">
            <div class="card-body">
              <h5 class="card-title">AI SOLUTIONS</h5>
              <p class="card-text">Boost revenue and drive innovation with advanced AI solutions tailored to your
                business
                needs.</p>
              <ul class="sub-list-cls">
                <li>Leverage data-driven insights and intelligent automation to enhance efficiency and stay ahead in a
                  competitive landscape.
                </li>
              </ul>
            </div>
          </div>
        </div>

      </div>
      <div class="col p-0">
        <div class="card-padding-cls">
          <div class="card h-100 shadow">
            <img src="../assets/images/home_service_1.jpg" class="card-img-top" alt="Technology">
            <div class="card-body">
              <h5 class="card-title">TECHNOLOGY</h5>
              <p class="card-text">Empowering businesses with cutting-edge solutions for efficiency, security, and
                scalability.</p>
              <ul class="sub-list-cls">
                <li>
                  Harness the power of innovation to propel your business forward into the digital age
                </li>
              </ul>
            </div>
          </div>
        </div>

      </div>
      <div class="col p-0">
        <div class="card-padding-cls">
          <div class="card h-100 shadow">
            <img src="../assets/images/home_service_2.jpg" class="card-img-top" alt="Staffing">
            <div class="card-body">
              <h5 class="card-title">STAFFING</h5>
              <p class="card-text">Connecting organizations with top talent to drive success and growth.</p>
              <ul class="sub-list-cls">
                <li>
                  Building high-performing teams to meet your organization's evolving needs
                </li>
              </ul>
            </div>
          </div>
        </div>

      </div>
      <div class="col p-0">
        <div class="card-padding-cls">
          <div class="card h-100 shadow">
            <img src="../assets/images/home_service_3.jpg" class="card-img-top" alt="Consulting">
            <div class="card-body">
              <h5 class="card-title">CONSULTING</h5>
              <p class="card-text">Transforming businesses through strategic guidance and innovative solutions.</p>
              <ul class="sub-list-cls">
                <li>
                  Partnering with you to navigate complex challenges and seize new opportunities
                </li>
              </ul>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
<!-- Section 3 -->
<div class="container-fluid pb-5 section-padding">
  <div class="row align-items-center ">
    <div class="col-lg-6 col-md-12">
      <!-- Image section -->
      <div class="row">
        <div class="col-12 mb-3">
          <img src="../../assets/images/home_single_left.jpg" class="img-fluid" alt="Image 1">
        </div>
        
      </div>
    </div>
    <div class="col-lg-6 col-md-12 align-items-center">
      <!-- Text section -->
      <h3 class="s2-header">Why Choose Netsim Ins as Your Business Partner?</h3>
      <ul class="s2-subheader">
        <li><strong class="s2-subheader-bold">Cost-Effectiveness:</strong> Delivering quality solutions at competitive rates.</li>
        <li><strong class="s2-subheader-bold">Technology, Innovation, and AI:</strong> Staying ahead with cutting-edge solutions.</li>
        <li><strong class="s2-subheader-bold">High Customer Satisfaction:</strong> Personalized service.</li>
        <li><strong class="s2-subheader-bold">Diverse Staffing:</strong> Fostering innovation through diversity.</li>
        <li><strong class="s2-subheader-bold">High-Quality Candidates:</strong> Exceeding expectations with top-tier talent.</li>
        <li><strong class="s2-subheader-bold">Industry Expertise:</strong> Tailored solutions based on deep knowledge.</li>
        <li><strong class="s2-subheader-bold">Optimal Time-to-Hire:</strong> Minimizing delays for productivity.</li>
        <li><strong class="s2-subheader-bold">Low Staff Turnover Rate:</strong> Promoting retention with supportive environments.</li>
        <li><strong class="s2-subheader-bold">Veterans' Support:</strong> Providing meaningful employment opportunities.</li>
      </ul>
    </div>
  </div>
</div>
<!-- Section 4 -->
<div class="container-fluid pb-5 section-padding">
  <h2 class="text-center mb-4 pg-heading1">Key Offerings</h2>
  <div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
      <div class="card h-100 text-center shadow">
        <div class="card-body">
          <div class="hexagon-container text-center">
            <div class="hexagon">
              <i class="fas fa-recycle"></i> <!-- Replace this with your desired Font Awesome icon -->
            </div>
          </div>
          
          <h5 class="card-title s4-subheader">AI SOLUTIONS</h5>
          <p class="card-text s1-clr">
            Unlock new revenue streams and enhance operational efficiency with Netsim Inc's AI-driven solutions. We integrate advanced AI technologies to transform data into actionable insights, enabling smarter decision-making and fostering innovation across your organization.
          </p>
          <a class="p1-clr">Read More &rarr;</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100 text-center shadow">
        
        <div class="card-body mt-2">
          <div class="hexagon-container text-center">
            <div class="hexagon">
              <i class="fas fa-shield"></i> <!-- Replace this with your desired Font Awesome icon -->
            </div>
          </div>
          
          <h5 class="card-title s4-subheader">CYBERSECURITY</h5>
          <p class="card-text s1-clr">
            Netsim Inc has crafted a robust cybersecurity framework, designed to proactively shield your organization against cyber threats, while collaborating with you to tailor a comprehensive security strategy, including Cybersecurity Assessment, Testing, and Solutions
          </p>
          <a class="p1-clr">Read More &rarr;</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100 text-center shadow">
        <div class="card-body">
          <div class="hexagon-container text-center">
            <div class="hexagon">
              <i class="fas fa-user"></i> <!-- Replace this with your desired Font Awesome icon -->
            </div>
          </div>
          
          <h5 class="card-title s4-subheader">STAFFING</h5>
          <p class="card-text s1-clr">
            Netsim Inc Pro serves as your premier gateway to accessing exceptional staffing talent, meticulously aligning their unparalleled expertise with the intricacies of your distinct requirements, thereby catalyzing enduring and transformative impacts within your organization
          </p>
          <a class="p1-clr">Read More &rarr;</a>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Section 6 -->
  <div class="position-relative pb-5 section-padding s6-card mt-5 ">
    <div class="position-absolute top-50 start-50 translate-middle " style="width: 76%;">
      <h3 class=" pg-heading1"> Netsim Inc Clients
      </h3>
      <p class="pg-subheading1">
        Successfully Serving Businesses for Over 25 Years, Building Enduring Partnerships Based on Trust, Reliability, and Outstanding Results.
      </p>
      <div class="align-items-center" style="margin: auto 0;text-align: center;">
        <button type="button" class="btn s6-btn">Join Them</button>
      </div>
    </div>
  </div>
  <div class="section-padding">
    
    <div class="slider">
      <div class="slide-track">
        <div class="slide">
          <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/2.png" height="100" width="250" alt="" />
        </div>
        <div class="slide">
          <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/3.png" height="100" width="250" alt="" />
        </div>
        <div class="slide">
          <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/4.png" height="100" width="250" alt="" />
        </div>
        <div class="slide">
          <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/5.png" height="100" width="250" alt="" />
        </div>
        <div class="slide">
          <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/6.png" height="100" width="250" alt="" />
        </div>
        <div class="slide">
          <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/7.png" height="100" width="250" alt="" />
        </div>
        <div class="slide">
          <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/1.png" height="100" width="250" alt="" />
        </div>
        <div class="slide">
          <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/2.png" height="100" width="250" alt="" />
        </div>
        <div class="slide">
          <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/3.png" height="100" width="250" alt="" />
        </div>
        <div class="slide">
          <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/4.png" height="100" width="250" alt="" />
        </div>
        <div class="slide">
          <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/5.png" height="100" width="250" alt="" />
        </div>
        <div class="slide">
          <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/6.png" height="100" width="250" alt="" />
        </div>
        <div class="slide">
          <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/7.png" height="100" width="250" alt="" />
        </div>
      </div>
    </div>
  </div>
  <!-- Section 7 -->
  <div class="position-relative pb-5 section-padding s7-card mt-5 mb-5">
    <div class="overlay" style="z-index: 0;"></div> <!-- Overlay div -->
    <div class="position-absolute top-50 start-50 translate-middle " style="width: 76%;">
      <h3 class=" pg-heading1" style="color: #fff;z-index: 2;">Experience the Difference!
      </h3>
      <p class="pg-subheading1" style="color: #fff;z-index: 9 !important;">
        Redefining Cost-Performance, Outperforming Competitors by 20%-40%
      </p>
      <div class="align-items-center" style="margin: auto 0;text-align: center;z-index: 9;">
        <button type="button" class="btn s6-btn">Let's Talk!</button>
      </div>
    </div>
  </div>
<!-- Section 5 -->

<div class="container-fluid section-padding pb-5">
  <h2 class="text-center mb-4 pg-heading1">Netsim Inc: Empowering Your Transformation
  </h2>
  <div id="carouselExample" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active s8-citem">
        <div class="row">
          <div class="col-md-3">
            <div class="card h-100 text-center shadow">
              <div class="card-body">
                
                <div class="circle-container text-center">
                  <div class="circle">
                    <i class="fas fa-globe"></i> <!-- Replace this with your desired Font Awesome icon -->
                  </div>
                </div>
                
                <h5 class="card-title s8-subheader">Sourcing and Procurement</h5>
                <p class="card-text s1-clr">
                  Explore cutting-edge sourcing and procurement solutions tailored to your business needs!
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="card h-100 text-center shadow">
              <div class="card-body">
                
                <div class="circle-container text-center">
                  <div class="circle">
                    <i class="fas fa-globe"></i> <!-- Replace this with your desired Font Awesome icon -->
                  </div>
                </div>
                
                <h5 class="card-title s8-subheader">Projects &amp; Business Agility</h5>
                <p class="card-text s1-clr">
                  Steer complex technology initiatives with precision and agility.
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="card h-100 text-center shadow">
              <div class="card-body">
                
                <div class="circle-container text-center">
                  <div class="circle">
                    <i class="fas fa-globe"></i> <!-- Replace this with your desired Font Awesome icon -->
                  </div>
                </div>
                
                <h5 class="card-title s8-subheader">Cloud<br>Platforms</h5>
                <p class="card-text s1-clr">
                  Achieve scalability, stability, and efficiency with our cloud solutions.
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="card h-100 text-center shadow">
              <div class="card-body">
                
                <div class="circle-container text-center">
                  <div class="circle">
                    <i class="fas fa-globe"></i> <!-- Replace this with your desired Font Awesome icon -->
                  </div>
                </div>
                
                <h5 class="card-title s8-subheader">Data<br>Intelligence</h5>
                <p class="card-text s1-clr">
                  Leverage cutting-edge and reliable data platforms for actionable insights.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item s8-citem">
        <div class="row">
          <div class="col-md-3">
            <div class="card h-100 text-center shadow">
              <div class="card-body">
                
                <div class="circle-container text-center">
                  <div class="circle">
                    <i class="fas fa-globe"></i> <!-- Replace this with your desired Font Awesome icon -->
                  </div>
                </div>
                
                <h5 class="card-title s8-subheader">Digital &amp; Mobile Solutions</h5>
                <p class="card-text s1-clr">
                  Drive profound digital transformation with our innovative solutions.                </p>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="card h-100 text-center shadow">
              <div class="card-body">
                
                <div class="circle-container text-center">
                  <div class="circle">
                    <i class="fas fa-globe"></i> <!-- Replace this with your desired Font Awesome icon -->
                  </div>
                </div>
                
                <h5 class="card-title s8-subheader">App<br>Solutions</h5>
                <p class="card-text s1-clr">
                  Discover dynamic cloud-based solutions tailored to your needs.
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="card h-100 text-center shadow">
              <div class="card-body">
                
                <div class="circle-container text-center">
                  <div class="circle">
                    <i class="fas fa-globe"></i> <!-- Replace this with your desired Font Awesome icon -->
                  </div>
                </div>
                
                <h5 class="card-title s8-subheader">Managed<br>Solutions</h5>
                <p class="card-text s1-clr">
                  Access top-notch consulting expertise and specialized project teams for seamless project management.
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="card h-100 text-center shadow">
              <div class="card-body">
                
                <div class="circle-container text-center">
                  <div class="circle">
                    <i class="fas fa-globe"></i> <!-- Replace this with your desired Font Awesome icon -->
                  </div>
                </div>
                
                <h5 class="card-title s8-subheader">Offshore<br>Talent</h5>
                <p class="card-text s1-clr">
                  Expand your team with talented professionals from India or Jordan, enhancing your workforce.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      
      <div class="carousel-item s8-citem">
        <div class="row">
          <div class="col-md-3">
            <div class="card h-100 text-center shadow">
              <div class="card-body">
                
                <div class="circle-container text-center">
                  <div class="circle">
                    <i class="fas fa-globe"></i> <!-- Replace this with your desired Font Awesome icon -->
                  </div>
                </div>
                
                <h5 class="card-title s8-subheader">Contract<br>Local Talent</h5>
                <p class="card-text s1-clr">
                  Access skilled professionals for short- or long-term assignments.
                                  </p>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="card h-100 text-center shadow">
              <div class="card-body">
                
                <div class="circle-container text-center">
                  <div class="circle">
                    <i class="fas fa-globe"></i> <!-- Replace this with your desired Font Awesome icon -->
                  </div>
                </div>
                
                <h5 class="card-title s8-subheader">Permanent<br>Placement</h5>
                <p class="card-text s1-clr">
                  Find early to mid-career professionals or executive-level hires for your organization.
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="card h-100 text-center shadow">
              <div class="card-body">
                
                <div class="circle-container text-center">
                  <div class="circle">
                    <i class="fas fa-globe"></i> <!-- Replace this with your desired Font Awesome icon -->
                  </div>
                </div>
                
                <h5 class="card-title s8-subheader">Managed<br>Solutions</h5>
                <p class="card-text s1-clr">
                  Access top-notch consulting expertise and specialized project teams for seamless project management.
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="card h-100 text-center shadow">
              <div class="card-body">
                
                <div class="circle-container text-center">
                  <div class="circle">
                    <i class="fas fa-globe"></i> <!-- Replace this with your desired Font Awesome icon -->
                  </div>
                </div>
                
                <h5 class="card-title s8-subheader">Veterans<br>Talent</h5>
                <p class="card-text s1-clr">
                  Support our nation's veterans by leveraging their unique skills and experience..
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Add more slides as needed -->
    </div>
    <button mat-mini-fab class="carousel-control-prev position-absolute top-50 start-0 translate-middle s8-btns" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
      <mat-icon style="font-size: 16px;margin-top: 6px;">keyboard_arrow_left</mat-icon>
    </button>
    
    <button mat-mini-fab class="carousel-control-next position-absolute top-50 start-100 translate-middle s8-btns" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
      <mat-icon style="font-size: 16px;margin-top: 6px;">keyboard_arrow_right</mat-icon>
    </button>
    
     </div>
</div>
<div class="mt-5"></div>

