<section class="hero-section d-flex align-items-center"
    style="background-image: url('../../assets/images/app_cover.jpg'); background-size: cover; height: 86vh; position: relative;">
    <div class="overlay"></div> <!-- Overlay div -->
    <div class="container-fluid text-center text-white section-padding" style="z-index: 1;">
        <h1 class="p1-header">App Solutions</h1>
        <p class="p2-header">
            Revolutionize Your Applications with Trailblazing Cloud Architectures
        </p>
        <p class="s1-header">
            Unlock the full potential of your applications with Netsim Inc's dynamic cloud-based solutions. Our
            forward-thinking development methods offer unparalleled adaptability, allowing clients to explore bespoke
            project solutions led by our seasoned experts.
        </p>
    </div>
    <div class="position-absolute bottom-0 start-50 translate-middle-x" style="padding-bottom: 8px;">

        <nav aria-label="breadcrumb" class="align-items-center">
            <ol class="breadcrumb align-items-center">
                <li class="breadcrumb-item" routerLink="/">
                    <a>Home</a>
                </li>
                <li class="breadcrumb-item" routerLink="/">
                    <a>Our offering</a>
                </li>
                <li class="breadcrumb-item active">
                    <a>App Solutions</a>
                </li>
            </ol>
        </nav>

    </div>
</section>
<section class="mt-5 section-padding">
    <p class="pg-subheading1">
        Our holistic team approach to application development spans visionary architecture, design, innovative software
        processes, and tailored application creation. Specializing in strategic problem-solving for architecture,
        security, performance, and backlog challenges, we ensure swift, efficient, and top-tier completion of all your
        application development endeavors.
    </p>
</section>
<!-- Section 3 -->
<div class="container-fluid pb-5 section-padding mt-5">
    <div class="row align-items-center ">
        <div class="col-lg-6 col-md-12">
            <!-- Image section -->
            <div class="row">
                <div class="col-12 mb-3">
                    <img src="../../assets/images/aboutus_31.png" class="img-fluid" alt="Image 1">
                </div>

            </div>
        </div>
        <div class="col-lg-6 col-md-12 align-items-center">
            <!-- Text section -->
            <h3 class="s2-header">Transforming Your Application Ecosystem
            </h3>
            <h3 class="s2-header2">Unleashing Innovation with Netsim Inc
            </h3>
            <ul class="s2-subheader">
                <li>
                    Netsim Inc's adept engineers specialize in constructing high-performance, enterprise-grade web
                    applications. Leveraging the latest technologies and industry best practices, our expert team
                    ensures the seamless development and deployment of innovative solutions tailored to your business
                    needs. From conceptualization to implementation, we are committed to delivering robust applications
                    that drive efficiency and accelerate growth.
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- Section 2 -->
<div class="container-fluid mt-5 pb-5 section-padding">
    <h3 class=" pg-heading1 text-center"> Crafting Exceptional Software Solutions
    </h3>

    <div class=" mt-5">
        <div class="row row-cols-1 row-cols-md-4 gy-5">
            <div class="col-md-4 p-0">
                <div class="card-padding-cls">
                    <div class="card h-100 shadow ">
                        <img src="../../assets/images/app_blog_1.jpg" class="card-img-top" alt="AI Solutions">
                        <div class="card-body">
                            <h5 class="card-title">Cloud Ascent Services
                            </h5>
                            <p class="card-text">Master the intricacies of application modernization and cloud migration
                                with Netsim Inc as your seasoned guide.
                            </p>
                            <ul class="sub-list-cls">
                                <li>Architectural Solutions
                                </li>
                                <li>Seamless Cloud Migration
                                </li>
                                <li>Application Augmentation
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-md-4 p-0">
                <div class="card-padding-cls">
                    <div class="card h-100 shadow">
                        <img src="../../assets/images/app_blog_2.jpg" class="card-img-top" alt="Technology">
                        <div class="card-body">
                            <h5 class="card-title">Tailored Software Innovation
                            </h5>
                            <p class="card-text">
                                Netsim Inc engineers high-performance, high-availability, cloud-native applications
                                using avant-garde patterns.
                            </p>
                            <ul class="sub-list-cls">
                                <li>
                                    Microservice Architecture and Development
                                </li>
                                <li>
                                    Serverless Application Development
                                </li>
                                <li>
                                    Cutting-Edge Web Application Design
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-md-4 p-0">
                <div class="card-padding-cls">
                    <div class="card h-100 shadow">
                        <img src="../../assets/images/app_blog_3.jpg" class="card-img-top" alt="Staffing">
                        <div class="card-body">
                            <h5 class="card-title ">Excellence in Quality Engineering
                            </h5>
                            <p class="card-text">
                                Elevate your software releases with Netsim Inc's quality engineering, seamlessly
                                integrating agile methodologies and contemporary DevOps tools for accelerated speed,
                                compliance, security, and quality assurance.
                            </p>
                            <ul class="sub-list-cls">
                                <li>
                                    Automated Testing Solutions
                                </li>
                                <li>
                                    CI/CD Pipeline Optimization
                                </li>
                                <li>
                                    Enhanced Development Processes
                                </li>
                                <li>
                                    Progressive QA Evolution/Maturity
                                </li>
                                <li>
                                    Advanced Tool Enablement
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>
<div class="container-fluid  section-padding">

    <div class=" mt-5">
        <div class="row">
            <div class="col-12 text-center">
                <h3 class=" pg-heading1">
                    Cutting-edge App Solutions Powered by Cloud Expertise
                </h3>
                <p class="pg-subheading1">
                    Discover innovative development strategies, leveraging cloud-based ingenuity to deliver flexible,
                    project-driven solutions led by our expert teams.
                </p>
            </div>
        </div>
        <div class="row row-cols-1 row-cols-md-4 gy-5 mt-3">
            <div class="col text-center">
                <div class="hexagon-container text-center">
                    <div class="hexagon">
                        <i class="fa-solid fa-code"></i>
                    </div>
                </div>

                <h5 class="card-title">Application Development
                </h5>
            </div>
            <div class="col text-center">
                <div class="hexagon-container text-center">
                    <div class="hexagon">
                        <i class="fa-solid fa-cloud-arrow-up"></i>
                    </div>
                </div>

                <h5 class="card-title">Cloud Architectures
                </h5>
            </div>
            <div class="col text-center">
                <div class="hexagon-container text-center">
                    <div class="hexagon">
                        <i class="fa-solid fa-rocket"></i>
                    </div>
                </div>

                <h5 class="card-title">Software Excellence
                </h5>
            </div>
            <div class="col text-center">
                <div class="hexagon-container text-center">
                    <div class="hexagon">
                        <i class="fa-solid fa-gear"></i>
                    </div>
                </div>

                <h5 class="card-title">Agile Solutions
                </h5>
            </div>

        </div>
    </div>
</div>

<!-- Section 7 -->
<div class="position-relative section-padding s7-card mt-5 ">
    <div class="overlay" style="z-index: 0;"></div> <!-- Overlay div -->
    <div class="position-absolute top-50 start-50 translate-middle text-center" style="width: 76%;">
        <h3 class=" p1-header" style="color: #fff;z-index: 2;">Driving Innovation in Application Development
        </h3>
    </div>
</div>

<!-- Section 6 -->
<div class="position-relative pb-5 section-padding s6-card">
    <div class="position-absolute top-50 start-50 translate-middle text-center" style="width: 76%;">
        <h3 class=" pg-heading1"> Unlock Digital Innovation
        </h3>
        <p class="pg-subheading1">
            Transform your digital footprint with state-of-the-art app solutions driven by Netsim Inc's cloud
            proficiency. Experience the groundbreaking impact of inventive app development.

        </p>
        <div class="align-items-center" style="margin: auto 0;text-align: center;">
            <button type="button" routerLink="/contactus" class="btn s6-btn">Contact Us</button>
        </div>
    </div>
</div>