<section class="hero-section d-flex align-items-center"
    style="background-image: url('../../assets/images/AI/header_ai_overview.jpg'); background-size: cover; height: 86vh; position: relative;">
    <div class="overlay"></div> <!-- Overlay div -->
    <div class="container-fluid text-center text-white section-padding" style="z-index: 1;">
        <h1 class="p1-header">
            Shaping the Future of Business
        </h1>

        <p class="s1-header">
            Harness AI to streamline processes, enhance decision-making, and lead your industry with innovation and
            precision
        </p>
    </div>
    <div class="position-absolute bottom-0 start-50 translate-middle-x breadcrumb-bottom-cls ">

        <nav aria-label="breadcrumb" class="align-items-center text-center ">
            <ol class="breadcrumb align-items-center justify-content-center">
                <li class="breadcrumb-item" routerLink="/">
                    <a>Home</a>
                </li>
                <li class="breadcrumb-item" routerLink="/our-offering">
                    Our Offering
                </li>
                <li class="breadcrumb-item active">
                    <a>AI Solutions</a>
                </li>
            </ol>
        </nav>
        <svg class="w-full h-auto svg-curve" viewBox="0 0 2880 48" fill="#fff" xmlns="http://www.w3.org/2000/svg">
            <path d="M0 48H1437.5H2880V0H2160C1442.5 52 720 0 720 0H0V48Z" fill="#fff"></path>
        </svg>
    </div>
</section>
<section class="mt-5 section-padding">
    <p class="pg-subheading1">
        NetSim is committed to revolutionizing your business landscape through cutting-edge AI
        technologies. Our focus is on enhancing operational efficiency, driving continuous innovation, and maximizing
        revenue potential. We provide an extensive array of AI services, from strategic development and seamless
        implementation to comprehensive training and customized solutions. Our goal is to empower your organization to
        not only adapt but excel in the rapidly evolving digital world, ensuring you stay at the forefront of industry
        advancements.


    </p>
</section>

<!-- Section 3 -->
<div class="container-fluid pb-5 section-padding mt-5">
    <div class="row align-items-center ">
        <div class="col-lg-6 col-md-12">
            <!-- Image section -->
            <div class="row">
                <div class="col-12 mb-3">
                    <img src="../../assets/images/AI/ai_overview_left.jpg" class="img-fluid" alt="Image 1">
                </div>

            </div>
        </div>
        <div class="col-lg-6 col-md-12 align-items-center">
            <!-- Text section -->
            <h3 class="s2-header">AI Overview
            </h3>
            <ul class="s2-subheader">
                <li><strong class="s2-subheader-bold">The global AI market is valued at over $196 billion <br>
                    </strong>

                    (Grand View Research)
                </li>
                <li><strong class="s2-subheader-bold">The AI market is expanding at a CAGR of 38.1% <br>
                    </strong>
                    (Grand View Research)

                </li>
                <li><strong class="s2-subheader-bold">AI is expected to improve employee productivity by 40% <br>
                    </strong> (PWC)
                </li>
                <li><strong class="s2-subheader-bold">AI is expected to reach approximately USD 1,811.8 billion by 2030
                        in market value

                    </strong> Fostering innovation through diversity.
                </li>
                <li><strong class="s2-subheader-bold">83% of companies claim that AI is a top priority in their business
                        plans

                    </strong>
                    (Exploding Topics) </li>


            </ul>
        </div>
    </div>
</div>
<div class="container-fluid pb-5 mt-5 section-padding">
    <h3 class="p2-header">
        Harnessing AI delivers transformative benefits, including increased revenue, a competitive edge, and enhanced
        efficiency.
    </h3>

    <div class=" mt-5">
        <div class="row row-cols-1 row-cols-md-3 g-4">
            <div class="col">
                <div class="card h-100 text-center shadow">
                    <div class="card-body">
                        <div class="circle-container text-center">
                            <div class="circle">
                                <i class="fa-regular fa-file-lines"></i>
                            </div>
                        </div>

                        <h5 class="card-title s4-subheader">
                            Opportunity and challenges
                        </h5>
                        <p class="card-text s1-clr">
                            As AI continues to revolutionize industries, businesses that harness its potential stand to
                            gain a significant competitive edge. Explore the key factors driving the AI revolution and
                            understand why now is the perfect time to invest in AI-driven solutions.

                        </p>
                        <a class="p1-clr" routerLink="/ai-challenge">Read More &rarr;</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100 text-center shadow">

                    <div class="card-body mt-2">
                        <div class="circle-container text-center">
                            <div class="circle">
                                <i class="fa-solid fa-code"></i>
                            </div>
                        </div>

                        <h5 class="card-title s4-subheader">
                            Our Methodology
                        </h5>
                        <p class="card-text s1-clr">
                            Simplify and elevate your AI initiatives with NetSim's streamlined methodology. Our
                            focus
                            on artificial intelligence, machine learning, and data science ensures the creation of
                            impactful AI systems that drive success and innovation.

                        </p>
                        <a class="p1-clr" routerLink="/ai-methodology">Read More &rarr;</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100 text-center shadow">
                    <div class="card-body">
                        <div class="circle-container text-center">
                            <div class="circle">
                                <i class="fas fa-location-crosshairs"></i>
                                <!-- Replace this with your desired Font Awesome icon -->
                            </div>
                        </div>

                        <h5 class="card-title s4-subheader">
                            Services and Solutions
                        </h5>
                        <p class="card-text s1-clr">
                            Unlock the power of AI with our bespoke solutions designed to meet your unique business
                            needs. From advanced data analytics to cutting-edge machine learning models, we provide
                            transformative technologies that propel growth and enhance operational efficiency.

                        </p>
                        <a class="p1-clr" routerLink="/cybersecurity-solution">Read More &rarr;</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Section globe -->
<div class="position-relative pb-5 section-padding globe-card  text-center ">
    <div class="overlay" style="background-color: #fff !important;"></div> <!-- Overlay div -->

    <div class="position-absolute top-50 start-50 translate-middle " style="width: 76%;">

        <h3 class=" pg-heading1"> 
            Transparency is our middle name: Delivering turnkey solutions with integrity.
        </h3>
        <p class="pg-subheading1 w36rem mx-auto">
            What sets us apart is our unwavering commitment to transparency in all our operations, delivering turnkey
            solutions that meet our clients' needs.
        </p>

    </div>
    <div class="position-absolute bottom-0 start-50 translate-middle-x " style="width: 76%;">
        <div style="display: flex;justify-content: space-around;justify-items: center;">
            <div class="text-center align-items-center">
                <p class="hrs-cls">$196 Billion </p>
                <p style="color: #0A3348;font-size: 18px;margin-top: -20px;">Global AI Market

                </p>
            </div>
            <div class="text-center align-items-center">
                <p class="hrs-cls">38.1% CAGR
                </p>
                <p style="color: #0A3348;font-size: 18px;margin-top: -20px;">
                    AI Market Growth
                </p>
            </div>
            <div class="text-center align-items-center">
                <p class="hrs-cls">40% Increase
                </p>
                <p style="color: #0A3348;font-size: 18px;margin-top: -20px;">Employee Productivity


                </p>
            </div>
        </div>
    </div>

</div>
<div class="container-fluid  section-padding mt-5 text-center">
    <h3 class="pg-header1">
        Empower Your Business with AI Excellence
    </h3>
    <p class="pg-subheading1">
        Harness the power of AI to overcome challenges and drive innovation. Our tailored AI solutions are crafted to
        optimize your operations, enhance productivity, and empower data-driven decision-making, ensuring your business
        stays ahead in a rapidly evolving landscape.
    </p>

    <div class=" mt-5">
        <div class="row row-cols-1 row-cols-md-4 gy-5">
            <div class="col text-center">
                <div class="rectangle-container text-center">
                    <div class="rectangle">
                        <i class="fa-solid fa-location-crosshairs"></i>
                    </div>
                </div>

                <h5 class="card-title">
                    AI Strategy Development
                </h5>
            </div>
            <div class="col text-center">
                <div class="rectangle-container text-center">
                    <div class="rectangle">
                        <i class="fa-solid fa-rocket"></i>
                    </div>
                </div>

                <h5 class="card-title">
                    Seamless Integration
                </h5>
            </div>
            <div class="col text-center">
                <div class="rectangle-container text-center">
                    <div class="rectangle">
                        <i class="fa-solid fa-chart-column"></i>
                    </div>
                </div>

                <h5 class="card-title">
                    Data-Driven Insights
                </h5>
            </div>
            <div class="col text-center">
                <div class="rectangle-container text-center">
                    <div class="rectangle">
                        <i class="fa-solid fa-lightbulb"></i>
                    </div>
                </div>

                <h5 class="card-title">
                    Innovative Solutions
                </h5>
            </div>

        </div>
    </div>
</div>

<!-- Section 7 -->
<div class="position-relative section-padding s7-card mt-5 ">
    <div class="overlay" style="z-index: 0;"></div> <!-- Overlay div -->
    <div class="position-absolute top-50 start-50 translate-middle text-center" style="width: 76%;">
        <h3 class=" p1-header" style="color: #fff;z-index: 2;">
            AI Excellence Unleashed
        </h3>
    </div>
</div>

<!-- Section 6 -->
<div class="position-relative pb-5 section-padding s6-card">
    <div class="position-absolute top-50 start-50 translate-middle text-center" style="width: 76%;">
        <h3 class=" pg-heading1">
            Unlock the Future:
        </h3>
        <p class="pg-subheading1">
            Join the AI Revolution and Tap into a Market Set for $1,811.8 Billion Growth

        </p>
        <div class="align-items-center" style="margin: auto 0;text-align: center;">
            <button type="button" routerLink="/contactus" class="btn s6-btn">Contact Us</button>
        </div>
    </div>
</div>